{% extends "base.html.twig" %}

{% block stylesheets %}{% endblock %}

{% block title %}
	A propos d'agri-visite
{% endblock %}


{% block body %}
	<!-- Bootstrap Static Header -->

	{% for about in about %}
		<div style="background-image: url(images/vache.jpeg);" class="jumbotron bg-cover text-white">
			<div class="container py-5 text-center">

				<h1 class="text-white display-4 font-weight-bold">{{ about.titre }}</h1>
				<p class="text-white font-italic mb-0">{{ about.sousTitre }}</p>
			</div>
		</div>

		<!-- For Demo Purpose -->
		<div class="container py-5">
			<h2 class="h3 font-weight-bold">{{ about.titre2 }}</h2>
			<div class="row">
				<div class="col-lg-12 mb-4">
					<p>{{ about.texte1 }}</p>
				</div>
				<div class="col-lg-12">
					<p>{{ about.texte2 }}</p>
				</div>
			</div>
		</div>

		<div class="container py-5">
			<h2 class="h3 font-weight-bold">Le fonctionnement en 3 étapes</h2>
		</div>
		<div class="how-section1">
			<div class="row">
				<div class="col-md-6 how-img">
					<img src="./images/LOGO-MINI-01.png" class="rounded-circle img-fluid" alt=""/>
				</div>
				<div class="col-md-6">
					<h4>Etape 1</h4>
					<h4 class="subheading">Je regarde les visite qui sont proposé sur le site</h4>
					<p class="text-muted">En se dirigeant sur la page "Nos exploitations partenaires, il vous suffit juste de parcourir la page et de choisir l'exploitation que vous aimeriez le plus visité</p>
				</div>
			</div>

			<div class="hm-gradient">
				<div class="full-bg-img">
					<div class="row">
						<div class="col-md-6">
							<h4>Etape 2</h4>
							<h4 class="subheading">Découvrez la visite qui vous interresse.</h4>
							<p class="text-muted">Sur la page de l'exploitation vous y trouverez des information sur l'exploitation, les activité à faire durant la visite, le prix, des informations sur l'agriculteur qui propose les visite ainsi que des liens vers les réseaux sociaux de l'agriculteur.</p>
						</div>
						<div class="col-md-6 how-img">
							<img src="./images/LOGO-MINI2-01.png" class="rounded-circle img-fluid" alt=""/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 how-img">
					<img src="./images/LOGO-MINI-01.png" class="rounded-circle img-fluid" alt=""/>
				</div>
				<div class="col-md-6">
					<h4>Etape 3</h4>
					<h4 class="subheading">Réservez votre visite</h4>
					<p class="text-muted">Grace à notre calendrier de réservez votre visite, choisissez une date disponible qui vous correspond, puis valider, payer le montant de la visite et le tour est joué</p>
				</div>
			</div>
		</div>

		<!--Intro Section-->
		<section class="view intro-video">
			<div class="hm-gradient">
				<div class="full-bg-img">
					<div class="container flex-center">
						<div class="row pt-5 mt-3">
							<div class="col-lg-6 wow fadeIn mb-5 text-center text-lg-left">
								<div class="white-text">
									<h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Un aperçu d'une visite dans une exploitation avec nos agriculteurs partenaires</h1>
									<hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
									<p class="wow fadeInLeft" data-wow-delay="0.3s">Cette vidéo à été tourné pendant une visite chez notre agriculteur partenaire Gregoire FOUCAULT, dans le calvados, à Montisenger.</p>
									<br>
								</div>
							</div>

							<div class="col-lg-6 wow fadeIn">
								<div class="embed-responsive embed-responsive-16by9 wow fadeInRight">
									<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/csEXeNFlgVE" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<br>
		</section>

		<div class="py-5 team4">
			<div class="container">
				<div class="row justify-content-center mb-4">
					<div class="col-md-7 text-center">
						<h3 class="mb-3">L'équipe derrière ce site</h3>
						<h6 class="subtitle">Nous avons construit ce site à deux :</h6>
					</div>
				</div>
				<div
					class="row">
					<!-- column  -->
					<div
						class="col-lg-3 mb-4 container d-flex h-100">
						<!-- Row -->
						<div class="row align-self-center">
							<div class="col-md-12">
								<img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg" alt="wrapkit" class="img-fluid rounded-circle"/>
							</div>
							<div class="col-md-12 text-center">
								<div class="pt-2">
									<h5 class="mt-4 font-weight-medium mb-0">Charlie ROGER</h5>
									<h6 class="subtitle mb-3">Développeur, graphiste d'agri-visite</h6>
									<p>Charlie est le créateur d'agri-visite et il est chargé du développement du site ainsi que de la communication de l'enseigne.</p>
									<br>
									<br>
									<ul class="list-inline">
										<li class="list-inline-item ">
											<a href="#" class=" text-decoration-none d-block px-1">
												<i class="fa fa-facebook img-fluid rounded-circle"></i>
											</a>
										</li>
										<li class="list-inline-item">
											<a href="#" class="text-decoration-none d-block px-1">
												<i class="fa fa-instagram img-fluid rounded-circle"></i>
											</a>
										</li>
										<li class="list-inline-item ">
											<a href="#" class=" text-decoration-none d-block px-1">
												<i class="fa fa-youtube img-fluid rounded-circle"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Row -->
					</div>
					<!-- column  -->
					<!-- column  -->
					<div
						class="col-lg-3 mb-4 container d-flex h-100">
						<!-- Row -->
						<div class="row">
							<div class="col-md-12">
								<img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg" alt="wrapkit" class="img-fluid rounded-circle"/>
							</div>
							<div class="col-md-12 text-center">
								<div class="pt-2">
									<h5 class="mt-4 font-weight-medium mb-0">Gregoire FOUCAULT</h5>
									<h6 class="subtitle mb-3">Agriculteur</h6>
									<p>Gregoire est l'agriculteur en charge des admissions des agriculteurs partenaires d'agri-visite.</p>
									<br>
									<br>
									<ul class="list-inline">
										<li class="list-inline-item ">
											<a href="#" class=" text-decoration-none d-block px-1">
												<i class="fa fa-facebook img-fluid rounded-circle"></i>
											</a>
										</li>
										<li class="list-inline-item">
											<a href="#" class="text-decoration-none d-block px-1">
												<i class="fa fa-instagram img-fluid rounded-circle"></i>
											</a>
										</li>
										<li class="list-inline-item ">
											<a href="#" class=" text-decoration-none d-block px-1">
												<i class="fa fa-youtube img-fluid rounded-circle"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Row -->
					</div>
				</div>
			</div>
		</div>
	{% endfor %}


</body></html>{% endblock %}
