{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

	<div>
		<h1>
			inscription
		</h1>

		{{ form_start(formRegistration) }}

		{{ form_widget(formRegistration) }}

		<button type="submit" class="btn btn-success">Inscription</button>

		{{ form_end(formRegistration) }}

	</div>

{% endblock %}
