{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

        <h1>Contact</h1>
        {{ form_start(formContact) }}
            {{ form_widget(formContact) }}
            <button class="btn btn-primary">{{ button_label|default('Contactez-nous') }}</button>
        {{ form_end(formContact) }}   

{% endblock %}