{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}
	<h1>Bienvenue dans mon blog!</h1>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor blanditiis itaque tempora necessitatibus ipsum
		        expedita labore. Temporibus suscipit, doloremque dolores atque voluptas, beatae dolorem necessitatibus non eaque
		        modi repudiandae corrupti.</p>
	<p>Enim debitis voluptate necessitatibus dolor, tempore accusamus! Blanditiis deserunt architecto quae, assumenda modi
		        optio culpa nesciunt ipsam ducimus explicabo qui magnam velit odio dicta! Modi neque quia itaque pariatur quasi!</p>


	<h2>Les derniers articles</h2>
	<ul>


		{% for toto in last_articles %}
			<li>{{ toto.title }}</li>
		{% endfor %}
	</ul>

	{% if age >= 18 %}
		<p>Majeur</p>
	{% else %}
		<p>Mineur</p>
	{% endif %}


{% endblock %}


