{% extends 'base.html.twig' %}

{% block title %} {{page.title}} {% endblock %}

{% block body %}
    <h1>{{page.title}}</h1>
    <div class="row">
        <div class="col">
            {{ page.content|raw }}
        </div>
    </div>
    



{% endblock %}

