/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
      font-family: poppins;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #38c8a8;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/

.main_heading {
     text-align: center;
     display: flex;
     justify-content: center;
     position: relative;
     margin-bottom: 50px;
}

.main_heading h2 {
     padding: 0;
     font-size: 48px;
     line-height: 60px;
     font-weight: 400;
     position: relative;
     letter-spacing: -0.5px;
     color: #114c7d;
     border-left: solid #38c8a8 10px;
     padding-left: 15px;
}

.main_heading h2 strong {
     background: #38c8a8;
     color: #fff;
     font-weight: 600;
     padding: 0 15px;
     line-height: 68px;
}

.white_heading_main h2 {
     color: #fff;
}

.small_main_heading {
     margin-top: 25px;
     float: left;
     width: 100%;
     border-bottom: solid rgba(0, 0, 0, 0.07) 1px;
     margin-bottom: 25px;
}

.small_main_heading h2 {
     padding: 2px 0 20px 0;
     color: #114c7d;
     font-weight: 400;
     font-size: 28px;
     background-image: url('../images/fevicon.png');
     background-repeat: no-repeat;
     padding-left: 55px;
     letter-spacing: -0.5px;
}

.small_main_heading h2 strong {
     color: #38c8a8;
     font-weight: 600;
}

.main_bt {
     background: #ee580f;
     color: #fff;
     padding: 15px 60px 15px 60px;
     float: left;
     font-size: 15px;
     font-weight: 400;
     border: solid #ee580f 2px;
     border-radius: 30px;
     margin: 15px 0px 60px 0px;
}

a.readmore_bt {
     color: #fff;
     font-weight: 300;
     text-decoration: underline !important;
}

.main_bt:hover,
.main_bt:focus {
     background: #000;
     border: solid #000 2px;
     color: #fff;
}


/**-- list icon --**/

.ul_list_info_icon ul {
     list-style: none;
}

.ul_list_info_icon ul li {
     display: inline;
     float: left;
     width: 100%;
}

.ul_list_info_icon ul li img {
     width: 75px;
}


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*---------------------------- scroll to top area ----------------------------*/

.scrollup {
     float: right;
     position: absolute;
     color: #fff;
     right: 20px;
     padding: 0px 5px;
     text-transform: uppercase;
     font-weight: 600;
     background: #38c8a8;
     position: fixed;
     bottom: 20px;
     z-index: 99;
     text-align: center;
     color: #fff;
     cursor: pointer;
     border-radius: 0px;
     opacity: 0;
     backface-visibility: hidden;
     -webkit-backface-visibility: hidden;
     transform: scale(1);
     -moz-transform: scale(1);
     -o-transform: scale(1);
     -webkit-transform: scale(1);
     transition: .2s all ease;
     -moz-transition: .2s all ease;
     -o-transition: .2s all ease;
     -webkit-transition: .2s all ease;
     width: 50px;
     height: 50px;
     border-radius: 100%;
     line-height: 48px;
     font-size: 16px;
}

.scrollup.b-show_scrollBut {
     opacity: 1;
     visibility: visible;
}

.top_awro {
     background: #ee4a79 none repeat scroll 0 0;
     cursor: pointer;
     padding: 6px 8px;
     position: fixed;
     bottom: 59px;
     right: 20px;
     display: none;
     height: 45px;
     width: 45px;
     border-radius: 50%;
     text-align: center;
     line-height: 30px;
     transition: all 0.5s ease;
}

.sale_pro {
     background: #f25252 !important;
}

.margin_top_50 {
     margin-top: 50px;
}

.margin_bottom_30_all {
     margin-bottom: 30px;
}

.text_align_center {
     text-align: center;
}


/*--------------------------------------------------------------------- header area ---------------------------------------------------------------------*/

.header {
     font-family: poppins;
     padding: 10px 0px;
    background: #052501;
     background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center center;
}

.logo {
     float: left;
     position: relative;
     padding-top: 2px;
}

nav.main-menu {
     float: right;
     margin-left: 0;
}

ul.top_icon {
     float: right;
     padding-top: 17px;
}

ul.top_icon li {
     float: left;
     color: #fff;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     padding-right: 20px;
}

ul.top_icon li:last-child {
     padding-right: 0px;
}

ul.top_icon li a {
     color: #fff;
}

.menu-area-main li:hover a,
.menu-area-main li:focus a {
     color: #ffff;
}

.menu-area-main li.active a {
     color: #fff;
}

.right_cart_section {
     float: right;
     width: auto;
}

.right_cart_section ul {
     float: left;
     min-height: auto;
     margin: 0;
     padding: 12px 0 0;
}

.right_cart_section .cart_icons {
     padding: 18px 0 0;
}
.last {padding-right: 0px;}
.main-menu ul>li nth:child(7) a {
     padding-right: 0px;
}

.right_cart_section ul li {
     float: left;
     font-size: 17px;
     font-weight: 400;
     color: #fff;
     margin-right: 30px;
}

.right_cart_section ul.cart_update li {
     font-size: 13px;
     color: #ccc;
     line-height: normal;
     margin: 0;
     font-weight: 300;
}

.right_cart_section ul.cart_update li span {
     font-size: 18px;
     font-weight: 300;
     color: #fff;
     line-height: 21px;
}

.right_cart_section ul li i {
     margin-right: 10px;
     margin-top: 5px;
     float: left;
     color: #fff;
     font-size: 21px;
}

.right_cart_section ul li a {
     color: #fff;
}


/*-- end header middle --*/

.top-bar-info {
     background: #111111;
     padding: 5px 0px;
}

.top-menu-left {
     float: left;
}

.top-menu-left li {
     position: relative;
     display: inline-block;
     margin-right: 11px;
     padding-right: 12px;
}

.top-menu-left li::before {
     content: '';
     position: absolute;
     right: 0;
     top: 9px;
     height: 10px;
     border-right: 1px dotted #999;
}

.top-menu-left li:last-child::before {
     display: none;
}

.top-menu-left li:last-child {
     padding: 0px;
     margin: 0px;
}

.top-menu-left li a {
     color: #ffffff;
     font-size: 12px;
     text-transform: uppercase;
     text-decoration: none;
}

.top-menu-left li a:hover {
     color: #38c8a8;
}

.right-dropdown-language {
     float: right;
     margin-left: 12px;
}

.dropdown-bar .dropdown-link {
     position: absolute;
     z-index: 1009;
     top: 40px;
     left: 0;
     right: auto;
     min-width: 50px;
     padding: 15px;
     background: #ffffff;
     list-style: none;
     border: 2px solid #38c8a8;
     opacity: 0;
     visibility: hidden;
     -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     -webkit-transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
     -o-transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
     transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
     text-align: left;
}

.dropdown-bar:hover .dropdown-link {
     opacity: 1;
     visibility: visible;
     top: 25px;
}

.dropdown-bar.right-dropdown-language>a::after {
     font-family: 'FontAwesome';
     content: "\f107";
     text-decoration: none;
     padding-left: 4px;
     color: #ffffff;
}

.right-dropdown-language>a {
     line-height: 10px;
     padding: 5px 5px;
     cursor: pointer;
}

.dropdown-bar .dropdown-link li a {
     color: #111111;
     display: block;
     font-size: 12px;
     line-height: 15px;
     padding: 5px 0;
}

.dropdown-bar .dropdown-link li a:hover {
     color: #38c8a8;
}

.dropdown-bar .dropdown-link li a img {
     margin-right: 7px;
}

.dropdown-bar .dropdown-link li.active {
     font-weight: bold;
}

.right-dropdown-language .dropdown-link {
     min-width: 100px;
     padding: 7px 10px;
     color: #111111;
}

.dropdown-bar {
     position: relative;
     padding: 0 5px;
     font-size: 13px;
}

.dropdown-bar .dropdown-link.right-sd {
     left: auto;
     right: 0;
}

.right-dropdown-currency {
     float: right;
     margin-left: 12px;
}

.dropdown-bar.right-dropdown-currency>a::after {
     font-family: 'FontAwesome';
     content: "\f107";
     text-decoration: none;
     padding-left: 4px;
     color: #ffffff;
}

.right-dropdown-currency>a {
     line-height: 10px;
     padding: 5px 5px;
     cursor: pointer;
     color: #ffffff;
}

.right-dropdown-currency .dropdown-link {
     min-width: 100px;
     padding: 7px 10px;
     color: #111111;
}

.right-dropdown-currency .dropdown-link {
     min-width: 55px;
     padding: 7px 10px;
}

.right-dropdown-currency .dropdown-link li a span.symbol {
     margin-right: 7px;
}

#login-modal .modal-content {
     border-radius: 0px;
}

#login-modal .modal-content .modal-header {
     background: #38c8a8;
     border-radius: 0;
}

#login-modal .modal-content .modal-body .form-group input {
     background: #ffffff;
     border: 1px solid #c8c8c8;
     border-radius: 0px;
}

#login-modal .modal-content .modal-body .form-group input:focus {
     border: 1px solid #c8c8c8 !important;
}

#login-modal .modal-content form {
     margin-bottom: 10px;
}

.modal-title {
     padding: 0px;
     color: #ffffff;
     font-size: 18px;
     text-transform: uppercase;
}

.btn-template-outlined {
     background: #111111;
     color: #ffffff;
     border: none;
     border-radius: 0px;
}

.btn-template-outlined i {
     padding-right: 10px;
}

.text-muted {
     padding: 10px 0px;
}

.slogan-line {
     float: right;
     color: #ffffff;
     font-size: 13px;
}

.middle-area {
     padding: 30px 0px;
}

.header-search {
     padding: 3px 0px;
}

.header-search form {
     position: relative;
     -webkit-box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.2);
     box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.2);
}

.header-search .btn-group.bootstrap-select {
     position: absolute;
     left: 0px;
     top: 0px;
}

.header-search input {
     width: 100%;
     min-height: 45px;
     border-radius: 0px;
     border: none;
     padding-left: 15px;
     border: 1px solid #e0e7ed;
}

.header-search form .search-btn {
     position: absolute;
     right: 0;
     top: 0;
     border: 0;
     color: #fff;
     font-size: 20px;
     padding: 4px 15px;
     border-radius: 0px;
     background-color: #38c8a8;
     cursor: pointer;
}

.header-search form .search-btn:hover {
     background: #111111;
}

.cart-box {
     float: right;
     margin-left: 10px;
     position: relative;
}

.cart-content-box {
     position: absolute;
     z-index: 1009;
     top: 40px;
     left: auto;
     right: 0;
     min-width: 250px;
     max-width: 250px;
     padding: 15px;
     background: #ffffff;
     list-style: none;
     border: 2px solid #38c8a8;
     opacity: 0;
     visibility: hidden;
     -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     text-align: left;
     -webkit-transform: scaleY(0);
     transform: scaleY(0);
     -webkit-transform-origin: 0 0 0;
     transform-origin: 0 0 0;
     -webkit-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
}

.cart-box:hover .cart-content-box {
     opacity: 1;
     visibility: visible;
     top: 100%;
     -webkit-transform: scaleY(1);
     transform: scaleY(1);
}

.inner-cart {
     background: #38c8a8;
     border-radius: 2px;
     padding: 0px;
     color: #ffffff;
     position: relative;
     width: 40px;
     height: 40px;
     text-align: center;
}

.cart-box .inner-cart:hover {
     color: #ffffff;
}

.line-cart {
     float: left;
     line-height: 40px;
     margin-right: 9px;
}

.cart-box a {
     display: inline-block;
}

.cart-box a:hover {
     color: #38c8a8;
}

.cart-box a span.icon {
     background: #38c8a8;
     width: 30px;
     height: 40px;
     display: inline-block;
     line-height: 40px;
     text-align: center;
     color: #ffffff;
     position: relative;
     border-radius: 2px;
}

.cart-box a .p-up {
     position: absolute;
     right: -8px;
     top: -8px;
     line-height: initial;
     background: #38c8a8;
     padding: 3px;
     border-radius: 50%;
     width: 17px;
     height: 17px;
     font-size: 12px;
     text-align: center;
     line-height: 10px;
}

.wish-box {
     float: right;
}

.wish-box a {
     display: inline-block;
}

.wish-box a:hover {
     color: #38c8a8;
}

.wish-box a span.icon {
     background: #38c8a8;
     width: 40px;
     height: 40px;
     display: inline-block;
     line-height: 40px;
     text-align: center;
     color: #ffffff;
     position: relative;
     border-radius: 2px;
}

.wish-box a span.icon:hover {
     background: #111111;
}

.cart-content-right {
     padding: 5px 0px;
}

.cart-content-box .items {
     text-align: center;
}

.product-media {
     width: 60px;
     float: left;
     position: relative;
}

.cart-content-box .items:hover .product-media::before {
     transform: scale(1);
     -webkit-transform: scale(1);
     -moz-transform: scale(1);
     -ms-transform: scale(1);
     -o-transform: scale(1);
}

.product-media::before {
     position: absolute;
     content: '';
     z-index: 2;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #38c8a8;
     opacity: 0.4;
     transform: scale(0);
     -webkit-transform: scale(0);
     -moz-transform: scale(0);
     -ms-transform: scale(0);
     -o-transform: scale(0);
     transition: all 0.5s ease;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
}

.cart-content-box .items .item .remove {
     position: absolute;
     right: 0px;
     top: 0px;
     background: #38c8a8;
     color: #ffffff;
     width: 20px;
     height: 20px;
     line-height: 18px;
     border-radius: 2px;
}

.cart-content-box .items .item {
     margin-bottom: 10px;
     padding-bottom: 10px;
     border-bottom: 1px solid #e0e7ed;
     position: relative;
}

.cart-content-box .items .item .product-info {
     padding-top: 10px;
     padding-left: 71px;
     text-align: left;
}

.cart-content-box .items .item .remove:hover {
     background: #111111;
}

.subtotal {
     text-align: left;
     text-transform: capitalize;
     color: #38c8a8;
     font-weight: 500;
     margin-bottom: 15px;
}

.subtotal span {
     font-weight: bold;
     color: #111111;
     padding-left: 15px;
     float: right;
}

.actions .btn-process {
     padding: 5px 16px;
     color: #ffffff;
     font-family: 'Roboto', sans-serif;
     font-size: 14px;
     border-radius: 2px;
     overflow: hidden;
}

.actions .btn-process:hover {
     color: #ffffff;
}

.line-cart {
     position: relative;
}

.wish-box a span.icon span {
     position: absolute;
     right: -8px;
     top: -8px;
     line-height: initial;
     background: #38c8a8;
     padding: 3px;
     border-radius: 50%;
     width: 17px;
     height: 17px;
     font-size: 12px;
}

.main-menu {
     text-align: center;
}

.main-menu ul {
     margin: 0;
     list-style-type: none;
     margin-bottom: 10px;
}

.main-menu ul>li {
     display: inline-block;
     position: relative;
}

.main-menu ul>li a {
     line-height: 20px;
     font-size: 16px;
     display: block;
     font-weight: 500;
     color: #fff;
     padding: 19px 17px;
}


}
.main-menu ul li:last-child a {
     padding-right: 0;
}
.sub-down li {
     background: #ffffff;
}
.main-menu ul>li .sub-down li a {
     color: #114c7d;
     font-size: 15px;
     text-transform: capitalize;
     font-weight: 300;
     padding: 12px 5px;
     position: relative;
     border-bottom: solid #eee 1px;
}
.main-menu ul>li .sub-down li a::before {}
.main-menu ul>li .sub-down li a:hover {
     color: #111111;
}
.main-menu ul>li .sub-down li a:hover::before {}
.main-menu ul li:first-child {
     margin-left: 0;
}
.main-menu ul>li>ul {
     opacity: 0;
     position: absolute;
     text-align: left;
     top: 100%;
     -webkit-transform: scaleY(0);
     transform: scaleY(0);
     -webkit-transform-origin: 0 0 0;
     transform-origin: 0 0 0;
     -webkit-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
     visibility: hidden;
     width: 240px;
     z-index: 999;
     background: #fff;
     -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
     box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.main-menu>ul>li:hover>ul {
     -webkit-transform: scaleY(1);
     transform: scaleY(1);
     visibility: visible;
     opacity: 1;
}
.main-menu ul>li>ul>li {
     margin: 0px;
     position: relative;
     display: block;
}
.main-menu ul>li>ul>li:hover>ul {
     -webkit-transform: scaleY(1);
     transform: scaleY(1);
     visibility: visible;
     opacity: 1;
     left: 100%;
     top: 10px;
}
.main-menu ul>li>ul>li>a {
     background: none !important;
}
.mean-container .mean-nav {
     margin-top: 0px;
     position: absolute;
     top: 100%;
}
.main-menu ul>li {
     position: inherit;
     display: inline-block;
     vertical-align: middle;
}
.main-menu ul>li:nth-child (6) {
     padding-right: 0px;
}
.nav>li {
     position: inherit;
     display: inline-block;
     vertical-align: middle;
}
.megamenu .sub-down {
     max-width: 1140px;
     width: 100%;
     left: 0;
     margin: 0 auto;
     right: 0;
     padding: 15px 0px;
}
.sub-full {}
.simple-down {
     padding: 15px;
}
.megamenu-categories {
     padding: 10px 0px;
}
.sub-full.megamenu-categories li {
     display: block;
}
.megamenu .sub-full.megamenu-categories ol li a {
     padding: 5px 0px;
     font-size: 15px !important;
     font-weight: 500;
}
.sub-full.megamenu-categories ol li .category-title {
     padding: 15px 0px;
     font-size: 16px;
     font-weight: 600;
     text-transform: uppercase;
}
.sub-full.megamenu-categories ol li .category-box a {
     padding: 5px 0px;
}
.menu-add {
     padding: 30px 15px;
}
.menu-add img {
     width: 100%;
}
.main-w img {
     width: 100%;
}
.women-box {
     position: relative;
}
.women-box::before {
     content: "";
     position: absolute;
     background: rgba(0, 0, 0, 0.3);
     width: 100%;
     height: 100%;
}
.banner-up-text {
     position: absolute;
     bottom: 10px;
     left: 0px;
     right: 0px;
     text-align: center;
}
.text-a {
     color: #fff;
     text-transform: uppercase;
     font-size: 40px;
     line-height: 40px;
     font-weight: 700;
}
.text-b {
     color: #fff;
     font-size: 28px;
     text-transform: uppercase;
     line-height: 30px;
     padding: 20px 0px;
}
.text-c {
     color: #ffffff;
     font-size: 31px;
     font-weight: 300;
     text-transform: uppercase;
     line-height: 30px;
     padding-bottom: 20px;
}
.megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
     background: #111111;
     color: #ffffff !important;
     display: inline-block;
     padding: 10px 16px;
     border-radius: 2px;
     overflow: hidden;
     font-size: 16px;
}
.sticky-wrapper .sticky-wrapper-header {
     z-index: 20 !important;
     background: #ffffff;
}
.is-sticky .sticky-wrapper-header .middle-area {
     padding: 10px 0px
}
.sticky-wrapper:not(.is-sticky) {
     height: auto !important;
}
.hover-btn {
     display: inline-block;
     vertical-align: middle;
     -webkit-transform: perspective(1px) translateZ(0);
     transform: perspective(1px) translateZ(0);
     box-shadow: 0 0 1px rgba(0, 0, 0, 0);
     position: relative;
     background: #111111;
     -webkit-transition-property: color;
     transition-property: color;
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
}
.hover-btn::before {
     content: "";
     position: absolute;
     z-index: -1;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: #38c8a8;
     -webkit-transform: scaleX(0);
     transform: scaleX(0);
     -webkit-transform-origin: 50%;
     transform-origin: 50%;
     -webkit-transition-property: transform;
     transition-property: transform;
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     -webkit-transition-timing-function: ease-out;
     transition-timing-function: ease-out;
     display: block !important;
}
.hover-btn:hover::before,
.hover-btn:focus::before,
.hover-btn:active::before {
     -webkit-transform: scaleX(1);
     transform: scaleX(1);
}
.hover-btn:hover,
.hover-btn:focus,
.hover-btn:active {
     color: white;
     box-shadow: none;
}
.btn-secondary.focus,
.btn-secondary:focus {
     box-shadow: none;
}
.img-responsive {
     max-width: 100%;
}
.padding_right_15_inner {
     padding-right: 15px;
}
.padding_left_15_inner {
     padding-left: 15px;
}
.dark_bg {
     background: #114c7d;
}

/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/
.top-banner-slider {
     overflow: hidden;
     clear: both;
     height: 600px;
}
.top-banner-slider .heroslider {
     margin: 0px;
     padding: 0px;
     border: none;
     position: relative;
     border-radius: 0;
}
.swiper-overlay {
     height: 100%;
     position: relative;
}
.swiper-overlay {
     background: rgba(0, 0, 0, 0.5);
     content: "";
     width: 100%;
     height: 100%;
     left: 0px;
     top: 0px;
}
.heroslider .container {
     position: relative;
     height: 100%;
     padding-left: 0;
     padding-right: 0;
     z-index: 5;
}
.swiper-container {
     width: 100%;
     height: 100%;
}
.heroslider .slider-01 {
     width: 100%;
     background-image: url(../images/slider-01.jpg);
     background-size: cover;
     background-position: center;
}
.heroslider .slider-02 {
     width: 100%;
     background-image: url(../images/slider-02.jpg);
     background-size: cover;
     background-position: center;
}
.heroslider .slider-03 {
     width: 100%;
     background-image: url(../images/slider-03.jpg);
     background-size: cover;
     background-position: center;
}
.heroslider .slides li {
     height: 600px;
}
.top-banner-slider .heroslider .slides li::before {
     content: "";
     position: absolute;
     background: rgba(0, 0, 0, 0.4);
     height: 100%;
     width: 100%;
     left: 0px;
     top: 0px;
}
.top-banner-slider .flex_caption3 {
     position: absolute;
     z-index: 30;
     left: 0;
     right: 0;
     bottom: 50px;
     margin: 0 -15px;
     display: flex;
}
a.slide_banner {
     position: relative;
     display: inline-block;
     margin: 0 12px 0 15px;
}
.slide1_banner1 {
     width: 570px;
}
.slide1_banner2 {
     width: 270px;
}
.slide1_banner3 {
     width: 270px;
}
.top-banner-slider .flex_caption1 {
     text-align: center;
     position: absolute;
     z-index: 30;
     left: 0;
     right: 0;
     margin: 0 auto;
     top: 31%;
     max-width: 720px;
     width: 100%;
     text-transform: uppercase;
     color: #333;
}
.top-banner-slider .flex_caption1 .title1 {
     font-size: 36px;
     font-weight: 300;
     color: #ffffff;
}
.top-banner-slider .flex_caption1 .title2 {
     font-size: 60px;
     font-weight: 900;
     color: #ffffff;
}
.top-banner-slider .flex_caption2 {
     text-align: center;
}
.top-banner-slider .flex_caption2 {
     position: absolute;
     z-index: 30;
     left: 0;
     top: 20%;
     display: table;
     width: 177px;
     height: 177px;
     background-color: #242424;
}
.top-banner-slider .flex_caption2 .middle {
     display: table-cell;
     vertical-align: middle;
     text-transform: uppercase;
     text-align: center;
     font-weight: 700;
     line-height: 31px;
     font-size: 26px;
     color: #fff;
     transition: all 0.1s ease-in-out;
     -webkit-transition: all 0.1s ease-in-out;
}
.top-banner-slider .flex_caption2 .middle:hover {
     background: #38c8a8;
}
.top-banner-slider .flex_caption2 span {
     display: block;
     font-weight: 100;
     line-height: 36px;
     font-size: 34px;
}
a.slide_banner::before {
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     right: 0;
     bottom: 0;
     opacity: 0;
     border: 2px solid #ffffff;
     transition: all 0.1s ease-in-out;
     -webkit-transition: all 0.1s ease-in-out;
}
a.slide_banner:hover::before {
     left: -7px;
     top: -7px;
     right: -7px;
     bottom: -7px;
     opacity: 1;
}
.flex-control-nav {
     background: #38c8a8;
     bottom: 0px;
     position: relative;
}
.flex-control-nav li {
     line-height: 10px;
}
.flex-control-paging li a {
     background: rgba(255, 255, 255, 1);
     border: 2px solid #ffffff;
}
.flex-control-paging li a.flex-active {
     border: 2px solid #ffffff;
}
.flex-direction-nav a {
     background: #111111;
     text-align: center;
}
.heroslider:hover .flex-direction-nav .flex-prev:hover {
     background: #38c8a8;
}
.heroslider:hover .flex-direction-nav .flex-next:hover {
     background: #38c8a8;
}
.flex-direction-nav a::before {
     color: #ffffff;
}
.top-banner-slider .swiper-pagination {
     padding: 10px 0px;
}
.heroslider .swiper-pagination {
     bottom: 0px;
     background: #38c8a8;
}
.heroslider .swiper-pagination .swiper-pagination-bullet-active {
     background: #fff;
}
.heroslider .swiper-pagination::before {
     content: "";
     width: 22px;
     height: 22px;
     position: absolute;
     left: -10px;
     top: 4px;
     z-index: -1;
     background: #e12d4f;
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
}
.heroslider .swiper-pagination::after {
     content: "";
     width: 22px;
     height: 22px;
     position: absolute;
     right: -10px;
     top: 4px;
     z-index: -1;
     background: #e12d4f;
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
}
.heroslider .swiper-pagination.swiper-pagination-bullets-dynamic {
     overflow: visible;
     width: 110px !important;
}
.heroslider .swiper-pagination .swiper-pagination-bullet {
     opacity: 1;
}
input[type="checkbox"].styled:checked+label:after,
input[type="radio"].styled:checked+label:after {
     font-family: 'FontAwesome';
     content: "\f00c";
}
input[type="checkbox"] .styled:checked+label::before,
input[type="radio"] .styled:checked+label::before {
     color: #fff;
}
input[type="checkbox"] .styled:checked+label::after,
input[type="radio"] .styled:checked+label::after {
     color: #fff;
}

/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.search {
    position: relative;
    top: 12px;
margin-right: 30px;
}

.search input.form-control {
    width: 100%;
    font-size: 15px;
    padding: 7px 35px 7px 15px;
}


.search button {
    position: absolute;
top:0px;
right: 0;
height: 39px;
width: 109px;
text-align: center;
z-index: 1;
background: #052501;
}

.location_icon_bottum_tt {
width: 100em;
}

.location_icon_bottum_tt ul li {
     display: inline-block;
padding: 27px 60px;
color: #fff;
font-size: 15px;
font-weight: 500;
}
.location_icon_bottum_tt ul li img {padding-right: 10px;}



.location_icon_bottum {
   
    position: relative;
    z-index: 999;
    background: #090501;
    margin-left: 31px;
    top: 0;
    margin-bottom: -43px;

     }
.location_icon_bottum::before {
     position: absolute;
content: "";
top: 0px;
background: url(../icon/wfe4.png);
background-repeat: repeat;
width: 67px;
height: 67px;
background-repeat: no-repeat;
left: -35px;
}
.location_icon_bottum ul li {
     display: inline-block;
padding: 0px 10px;
color: #fff;
font-size: 15px;
font-weight: 500;
}
.location_icon_bottum ul li img {padding-right: 10px;}

/** banner **/

.relative {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     text-align: left;
     bottom: auto;
}

.banner-main {
     position: relative;
     font-family: poppins;
}
.carousel-indicators li {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: #052501;
   
}
#myCarousel .carousel-indicators li { margin-bottom: 40px;}
.banner-main .carousel-item img {width: 100%;}
#myCarousel a.carousel-control-prev {display: none;}
#myCarousel a.carousel-control-next {display: none;}
.carousel-indicators .active {background-color:#4bc714;}

.banner-main .carousel-caption span {
     font-size: 50px;
     font-weight: bold;
     line-height: 60px;
     color: #4bc714;
     text-transform: uppercase;
     padding-bottom: 10px;
     display: block;
}

.banner-main .carousel-caption h1 {
     color: #fff;
     font-size: 110px;
     line-height: 84px;
     font-weight: bold;
     padding-bottom: 20px;
     text-transform: uppercase;
}

.banner-main .carousel-caption p {
     font-size: 25px;
     line-height: 31px;
     padding: 6px 0px 50px 0px;
}

.banner-main .carousel-caption .buynow  {
border: #fff solid 1px;
background: #fff;
width: 190px;
padding: 8px 0;
display: inline-block;
font-weight: 500;
font-size: 17px;
line-height: 30px;
color: #000;
text-align: center;
border-radius: 10px;
margin-right: 20px;
}

.banner-main .carousel-caption .buynow:hover {
     border: #052501 solid 1px;
     background: #052501;
     color: #fff;
}

#myCarousel a.carousel-control-next {
     position: absolute;
     top: 40% !important;
     left: inherit !important;
     right: 17px !important;
     width: 70px;
     height: 70px;
     border-radius: 35px;
}

#myCarousel a.carousel-control-prev {
     position: absolute;
     top: 40% !important;
     left: 17px !important;
     width: 70px;
     height: 70px;
     border-radius: 35px;
}

ul.social_icon {
     list-style: none;
     padding-top: 5px;
}
ul.social_icon li {
     float: left;
color: #fff;
align-items: center;
padding-right: 10px;
margin-top: 17px;
}
ul.social_icon li:last-child {
     padding-right: 0px;
}
ul.social_icon li a {
color: #fff;
width: 40px;
height: 40px;
border: solid #fff 1px;
float: left;
text-align: center;
line-height: 40px;
border-radius: 100%;
font-size: 18px;
} 

ul.social_icon li a:hover {
     background: #ff0000;
border: solid #ff0000 1px;        
color: #fff;
}
/** end banner **/
.black {
    color: #63ce33;
    font-weight: 208;
}

.title {text-align: center; padding-bottom: 60px;}

.title h2 {
    padding: 0px 0px 6px 0px;
text-transform: uppercase;
font-weight: 500;
color: #052501;
line-height: 46px;
border-bottom: #052501 solid 1px;
font-size: 50px;
max-width: 374px;
width: 100%;
margin: 0 auto;

}







/** about **/
.about {
     padding: 90px 0;
}

.about .about_img figure {
     margin: 0px;
}

.about .about_box {
     text-align: left;
     
}

.about .about_box h2 {
     font-weight: 500;
     font-size: 43px;
     color: #163f03;
     line-height: 55px;
     padding-bottom: 7px;
    display: block;
    text-transform: uppercase;
        padding: 0px 0px 6px 0px;
            border-bottom: #163f03 solid 1px;
}

.about .about_box p {
     font-size: 17px;
     line-height: 33px;
     color: #4c4a49;
     padding: 40px 0px;
     font-weight: 500;
}
.about .about_box a {
         color: #fff;
    font-size: 17px;
    line-height: 29px;
    background: #052501;
    border: #052501 solid 1px;
    padding: 12px 40px;
    display: inline-block;
    width: 231px;
text-align: center;
border-radius: 18px;
}
.about .about_box a:hover {
    color: #fff;
    background: #4bc714;
    border: #4bc714 solid 1px;
}
.about_img {margin-top: 25px;}
.about_img figure {margin: 0;}
.about_img figure img {width: 100%;}
/** end about **/


/** for_box **/
.for_box_bg {
     background: #052501;
      padding: 70px 0px;
 }
.for_box_bg .for_box {
     text-align: center; 
     box-sizing: border-box;
}
.for_box_bg .for_box span {
     font-weight: bold; 
     font-size:51px; 
     line-height: 51px; 
     color: #4bc714; 
     display: block;
     padding: 20px 0px;
}
.for_box_bg .for_box h3  {font-size: 30px; line-height: 33px; color: #fff;}


/** end for_box **/

/** offer **/
.offer {
     padding-top: 90px;
   }

.offer-bg {
     background: #F1F3F5;
     padding: 90px 0px;
    
}

.margin {
     margin-bottom: 30px;
}


.offer .offer-bg {
     background: #F1F3F5;
     text-align: center;
     padding: 60px 0px;
}
.offer .offer-bg .offer_box {text-align: center;}
.offer .offer-bg .offer_box figure {margin: 0;}
.offer .offer-bg .offer_box figure img {
    width: 100%;
}
.offer .offer-bg .offer_box h3 {
     font-size: 30px;
     font-weight: 500;
     color: #fff;
    padding-bottom: 30px;
}
.offer .offer-bg .offer_box p {padding-top: 35px; font-size: 17px; line-height: 23px; color: #fff;}

.read-more { 
font-family: poppins;
max-width: 212px;
margin: 0 auto;
margin-top: 0px;
display: block;
background: #fff;
color: #000 !important;
padding: 12px 0px;
width: 100%;
font-size: 17px;
float: left;
border-radius: 10px;
margin-top: -100px;
}

.read-more:hover {
     background: #30880d;
     color: #fff !important;
}


.margin_ttt {margin-top: 100px;}
.margin-lkk {margin-top: 200px;}
/** end offer **/





/** product **/

.product {padding: 90px 0px 60px 0px;}
.product .title h2 {max-width: 425px;
 width: 100%; 
}
.product .product_box {margin-bottom: 30px;}
.product .product_box figure {margin: 0px; position: relative;}
.product .product_box figure h3 {
 position: absolute;
bottom: 0;
text-align: center;
width: 100%;
background: #052501d4;
padding: 10px 13px 13px 13px;
font-size: 30px;
line-height: 40px;
font-weight: 500;
color: #fff;
box-sizing: border-box;
}
.product .product_box figure img {width: 100%; height: 248px;}








/** end product **/
.clients {
     background: #fff;
   
} 
.clients .titlepage {padding-bottom: 0px;}
.clients .titlepage h2 {
     color: #000;
}

.clients_red {
     background: #fff;
     padding-bottom: 50px;
} 

.cross_inner h3 {
    text-align: left;
    padding-left: 60px;
    padding-top: 58px;   
    font-size: 30px;
    line-height: 25px;
    padding-bottom: 58px;
text-transform: uppercase;
}

.pa_right {padding-right: 0px;}
.pa_left {padding-left: 0px;}

.testimonial_cont p {color: #fff;
background: #052501;
padding: 40px 50px;}
#testimonial_slider .carousel-indicators {
     bottom: -50px;
}

#testimonial_slider .carousel-indicators li {
     width: 25px;
height: 25px;
background-color: #052501;
border-radius: 50px;
}
#testimonial_slider .carousel-indicators li.active {
     background-color: #4bc714;
}


.testimonial_cont {
    background: #fff;
    min-height: 295px;
}
.text_align_center {
    text-align: center;}
.ornage_color {
     color: #4bc714;
text-transform: none;
font-size: 20px;
line-height: 10px;
}
.testomonial_img {position: relative;}
.testomonial_img:after {
    position: absolute;
content: "";

background: url(../images/bg1.png);
background-repeat: no-repeat;
width: 61px;
height: 61px;
right: 0px;
bottom: -61px;;
z-index: 9999;
}
.testomonial_img i img { border: #4bc714 solid 13px; width: 100%;}
transform: skew(190deg);

.testimonial_cont h3 { color: #000; font-family: poppins;}


     







/** contact **/


.contact {
    margin-top: 90px;
    
}


.map_section {
    border-top: #052501 solid 6px;
}
#map {
    height: 100%;
    min-height: 670px;
}

.padddd {
    padding: 0px;
}

.main_form {
    position: absolute;
    z-index: 990;
    background: #052501;
   margin-top: 80px;
    padding: 60px 40px;
}

.form-control {
    border: #fff solid 1px;
    border-radius: inherit;
    margin-bottom: 20px;
    padding: 8px 20px;
    font-family: poppins;
}

.form-control:focus {
    box-shadow: inherit;
    border: #fff solid 1px !important;
}

.textarea {
    font-family: poppins;
    border: #fff solid 2px;
    margin-bottom: 20px;
    padding: 0px 20px;
    padding-top: 0px;
    width: 100%;
    padding-top: 30px;
}

.send {
    font-family: poppins;
    float: left;
    margin: 0 auto;
    display: block;
    background: #fff;
    color: #000;
    max-width: 165px;
    padding: 13px 0px;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
}

.send:hover {
    background: #30880d;
    color: #fff;
}


/** end contact **/

.footer {background: #052501; padding: 90px 0px;}


 
 ul.loca li {
    color: #fff;
padding-bottom: 10px;
display: flex;
font-size: 16px;
flex-wrap: wrap;
}
 ul.loca li:last-child {
    padding-right: 0;
}
 ul.loca li a {
   padding-right: 16px;
color: #fff;
margin-top: 4px;
}
 
 ul.Links_footer {
     list-style: none;
     margin: 0;
     padding: 0;
     width: 100%;
     float: left;
}
 ul.Links_footer li a {
    display: block;
     color: #fff;
     font-size: 17px;
     padding-left: 16px;
     margin-top: -34px;
}
 ul.Links_footer li a:hover{
    color: #30880d;
}
 ul.Links_footer li {
    padding-bottom: 15px;
    color: #3e7f21;
}
 
 

 .hhh {
    margin-bottom: 15px;
}
 .footer .newsletter h3 {
     color: #fff;
     font-size: 17px;
     line-height: 30px;
     display: block;
     padding-bottom: 25px;
     text-transform: uppercase;
}
 .footer .address .form-control {
     padding: 10px 15px;
     border: #ddd solid 1px;
     margin-bottom: 20px;
     box-shadow: inherit;
     border-radius: 10px;
}
 .address  h3 {
color: #fff;
font-size: 29px;
font-weight: 500;
padding-top: 15px;
padding-bottom: 3px;
border-bottom: #3e7f21 solid 4px;
margin-bottom: 20px;
width: 226px;
 }
.address img {padding-bottom: 10px;}

 .address p {
     color: #fff;
     padding-bottom: 20px;
     font-size: 18px;
line-height: 30px;}
 .form-control:focus, .form-control:hover {
     border: #ddd solid 1px !important;
}
 .footer .address .submit-btn {
   padding: 8px 45px;
border: #30880d solid 1px;
background: #30880d;
color: #fff;
font-weight: 500;
font-size: 19px;
border-radius: 10px;
}
 .footer .address .submit-btn:hover {
     background: #fff;
     border: #fff solid 1px;
     color: #30880d;
}
.copyright {
     background: #30880d;
     padding: 20px 0px 20px 0;
}
.copyright p {
     color: #fff;
     font-size: 16px;
     text-align: center;
     text-align: center;
     margin: 0 auto;
}
.copyright a {
     color: #ffff;
}
.copyright a:hover {
     color: #000;
}
.btn-primary.focus,
.btn-primary:focus {
     box-shadow: inherit;
}

/*--------------------------------------------------------------------- inner_page css ---------------------------------------------------------------------*/

.brand_color {
     background-color: #ddd;
}
.brand_color .titlepage {
     margin-top: 90px;
     padding-bottom: 90px;
}

.brand_color .abouttitle h2 {
     color: #fff;
     text-transform: uppercase;
     font-size: 40px;
     line-height: 45px;
     padding: 40px 0;
     font-weight: 500;
     text-align: center;
}
.contact-page .Contact {
     margin-top: 0px;
}
.contact-page .form-control {
     margin-bottom: 20px;
}

/** slider arrow **/

#myCarousel .carousel-control-prev,
#myCarousel .carousel-control-next {
     width: 62px;
     height: 60px;
     background: #fffdfd;
     opacity: 1;
     font-size: 30px;
     color: #000;
}

#myCarousel .carousel-control-prev:hover,
#myCarousel .carousel-control-next:hover,
#myCarousel .carousel-control-prev:focus,
#myCarousel .carousel-control-next:focus {
     background: #ff0000 ;
     color: #fff;
}

#myCarousel a.carousel-control-prev {
     position: absolute;
     left: 82px;
     bottom: 10px;
     top: inherit;
}

#myCarousel a.carousel-control-next {
     position: absolute;
     left: 10px;
     top: inherit;
     bottom: 10px;
}

.special-page .relative  {text-align:center !important; }

.special-page .footer {margin-top: 90px;}

/* page visites */

.how-section1{
     margin-top:-15%;
     padding: 10%;
 }
 .how-section1 h4{
     color: #000000;
     font-weight: bold;
     font-size: 30px;
 }
 .how-section1 .subheading{
     color: #41591D;
     font-size: 20px;
 }
 .how-section1 .row
 {
     margin-top: 10%;
 }
 .how-img 
 {
     text-align: center;
 }
 .how-img img{
     width: 40%;
 }

/* FAQ */


 h2 {
     font-family: Arial, Verdana;
     font-weight: 800;
     font-size: 2.5rem;
     color: #091f2f;
     text-transform: uppercase;
 }
 .accordion-section .panel-default > .panel-heading {
     border: 0;
     background: #f4f4f4;
     padding: 0;
 }
 .accordion-section .panel-default .panel-title a {
     display: block;
     font-style: italic;
     font-size: 1.5rem;
 }
 .accordion-section .panel-default .panel-title a:after {
     font-family: 'FontAwesome';
     font-style: normal;
     font-size: 3rem;
     content: "\f106";
     color: #1f7de2;
     float: right;
     margin-top: -12px;
 }
 .accordion-section .panel-default .panel-title a.collapsed:after {
     content: "\f107";
 }
 .accordion-section .panel-default .panel-body {
     font-size: 1.2rem;
 }

 /*/////////////////////CONTACT FORM FAQ/////////////////////////////////////////////
[ FONT ]*/

@font-face {
     font-family: Montserrat-Regular;
     src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
   }
   
   @font-face {
     font-family: Montserrat-Bold;
     src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
   }
   
   @font-face {
     font-family: Montserrat-ExtraBold;
     src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf'); 
   }
   
   @font-face {
     font-family: Montserrat-Medium;
     src: url('../fonts/montserrat/Montserrat-Medium.ttf'); 
   }
   
   
   
   /*//////////////////////////////////////////////////////////////////
   [ RESTYLE TAG ]*/
   
   * {
        margin: 0px; 
        padding: 0px; 
        box-sizing: border-box;
   }
   
   body, html {
        height: 100%;
        font-family: Montserrat-Regular, sans-serif;
   }
   
   /*---------------------------------------------*/
   a {
        font-family: Montserrat-Regular;
        font-size: 14px;
        line-height: 1.7;
        color: #666666;
        margin: 0px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
     -o-transition: all 0.4s;
     -moz-transition: all 0.4s;
   }
   
   a:focus {
        outline: none !important;
   }
   
   a:hover {
        text-decoration: none;
        color: #57b846;
   }
   
   /*---------------------------------------------*/
   h1,h2,h3,h4,h5,h6 {
        margin: 0px;
   }
   
   p {
        font-family: Montserrat-Regular;
        font-size: 14px;
        line-height: 1.7;
        color: #666666;
        margin: 0px;
   }
   
   ul, li {
        margin: 0px;
        list-style-type: none;
   }
   
   
   /*---------------------------------------------*/
   input {
        outline: none;
        border: none;
   }
   
   textarea {
     outline: none;
     border: none;
   }
   
   textarea:focus, input:focus {
     border-color: transparent !important;
   }
   
   input::-webkit-input-placeholder { color: #999999; }
   input:-moz-placeholder { color: #999999; }
   input::-moz-placeholder { color: #999999; }
   input:-ms-input-placeholder { color: #999999; }
   
   textarea::-webkit-input-placeholder { color: #999999; }
   textarea:-moz-placeholder { color: #999999; }
   textarea::-moz-placeholder { color: #999999; }
   textarea:-ms-input-placeholder { color: #999999; }
   
   /*---------------------------------------------*/
   button {
        outline: none !important;
        border: none;
        background: transparent;
   }
   
   button:hover {
        cursor: pointer;
   }
   
   iframe {
        border: none !important;
   }
   
   
   
   
   /*//////////////////////////////////////////////////////////////////
   [ Contact 1 ]*/
   
   .contact1 {
     width: 100%;
     min-height: 100%;
     padding: 15px;
   
     background: #3cff00;
     background: -webkit-linear-gradient(left, #48ff00, #00ff0d);
     background: -o-linear-gradient(left, #5eff00, #09ff00);
     background: -moz-linear-gradient(left, #66ff00, #00ff2a);
     background: linear-gradient(left, #51ff00, #00ff2a);
   
     display: -webkit-box;
     display: -webkit-flex;
     display: -moz-box;
     display: -ms-flexbox;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
   }
   
   .container-contact1 {
     width: 1163px;
     background: #fff;
     border-radius: 10px;
     overflow: hidden;
   
     display: -webkit-box;
     display: -webkit-flex;
     display: -moz-box;
     display: -ms-flexbox;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
   
     padding: 90px 130px 88px 148px;
   }
   
   /*------------------------------------------------------------------
   [  ]*/
   .contact1-pic {
     width: 296px;
   }
   
   .contact1-pic img {
     max-width: 100%;
   }
   
   
   /*------------------------------------------------------------------
   [  ]*/
   .contact1-form {
     width: 390px;
   }
   
   .contact1-form-title {
     display: block;
     font-family: Montserrat-ExtraBold;
     font-size: 24px;
     color: #333333;
     line-height: 1.2;
     text-align: center;
     padding-bottom: 44px;
   }
   
   input.input1 {
     height: 50px;
     border-radius: 25px;
     padding: 0 30px;
   }
   input.input1 + .shadow-input1 {
     border-radius: 25px;
   }
   
   textarea.input1 {
     min-height: 150px;
     border-radius: 25px;
     padding: 12px 30px;
   }
   textarea.input1 + .shadow-input1 {
     border-radius: 25px;
   }
   
   /*---------------------------------------------*/
   .wrap-input1 {
     position: relative;
     width: 100%;
     z-index: 1;
     margin-bottom: 20px;
   }
   
   .input1 {
     display: block;
     width: 100%;
     background: #e6e6e6;
     font-family: Montserrat-Bold;
     font-size: 15px;
     line-height: 1.5;
     color: #666666;
   }
   
   .shadow-input1 {
     content: '';
     display: block;
     position: absolute;
     bottom: 0;
     left: 0;
     z-index: -1;
     width: 100%;
     height: 100%;
     box-shadow: 0px 0px 0px 0px;
     color: rgba(87,184,70, 0.5);
   }
   
   .input1:focus + .shadow-input1 {
     -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
     animation: anim-shadow 0.5s ease-in-out forwards;
   }
   
   @-webkit-keyframes anim-shadow {
     to {
       box-shadow: 0px 0px 80px 30px;
       opacity: 0;
     }
   }
   
   @keyframes anim-shadow {
     to {
       box-shadow: 0px 0px 80px 30px;
       opacity: 0;
     }
   }
   
   /*---------------------------------------------*/
   .container-contact1-form-btn {
     display: -webkit-box;
     display: -webkit-flex;
     display: -moz-box;
     display: -ms-flexbox;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
   }
   
   .contact1-form-btn {
     min-width: 193px;
     height: 50px;
     border-radius: 25px;
     background: #57b846;
     font-family: Montserrat-Bold;
     font-size: 15px;
     line-height: 1.5;
     color: #fff;
     display: -webkit-box;
     display: -webkit-flex;
     display: -moz-box;
     display: -ms-flexbox;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0 25px;
   
     -webkit-transition: all 0.4s;
     -o-transition: all 0.4s;
     -moz-transition: all 0.4s;
     transition: all 0.4s;
   }
   
   .contact1-form-btn i {
     margin-left: 7px;
   
     -webkit-transition: all 0.4s;
     -o-transition: all 0.4s;
     -moz-transition: all 0.4s;
     transition: all 0.4s;
   }
   
   .contact1-form-btn:hover {
     background: #333333;
   }
   
   .contact1-form-btn:hover i {
     -webkit-transform: translateX(10px);
     -moz-transform: translateX(10px);
     -ms-transform: translateX(10px);
     -o-transform: translateX(10px);
     transform: translateX(10px);
   }
   
   
   
   
   /*------------------------------------------------------------------
   [ Responsive ]*/
   
   @media (max-width: 1200px) {
     .contact1-pic {
       width: 33.5%;
     }
   
     .contact1-form {
       width: 44%;
     }
   }
   
   @media (max-width: 992px) {
     .container-contact1 {
       padding: 90px 80px 88px 90px;
     }
   
     .contact1-pic {
       width: 35%;
     }
   
     .contact1-form {
       width: 55%;
     }
   }
   
   @media (max-width: 768px) {
     .container-contact1 {
       padding: 90px 80px 88px 80px;
     }
   
     .contact1-pic {
       display: none;
     }
   
     .contact1-form {
       width: 100%;
     }
   }
   
   @media (max-width: 576px) {
     .container-contact1 {
       padding: 90px 15px 88px 15px;
     }
   }
   
   
   /*------------------------------------------------------------------
   [ Alert validate ]*/
   
   .validate-input {
     position: relative;
   }
   
   .alert-validate::before {
     content: attr(data-validate);
     position: absolute;
     max-width: 70%;
     background-color: white;
     border: 1px solid #c80000;
     border-radius: 13px;
     padding: 4px 25px 4px 10px;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     transform: translateY(-50%);
     right: 8px;
     pointer-events: none;
   
     font-family: Montserrat-Medium;
     color: #c80000;
     font-size: 13px;
     line-height: 1.4;
     text-align: left;
   
     visibility: hidden;
     opacity: 0;
   
     -webkit-transition: opacity 0.4s;
     -o-transition: opacity 0.4s;
     -moz-transition: opacity 0.4s;
     transition: opacity 0.4s;
   }
   
   .alert-validate::after {
     content: "\f06a";
     font-family: FontAwesome;
     display: block;
     position: absolute;
     color: #c80000;
     font-size: 15px;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     transform: translateY(-50%);
     right: 13px;
   }
   
   .alert-validate:hover:before {
     visibility: visible;
     opacity: 1;
   }
   
   @media (max-width: 992px) {
     .alert-validate::before {
       visibility: visible;
       opacity: 1;
     }
   }

.carrou {
     color: white;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.bg-cover {
     background-size: cover !important;
 }
 
 
 
 /*
 *
 * ==========================================
 * FOR DEMO PURPOSES
 * ==========================================
 *
 */
 
 body {
     min-height: 100vh;
 }

 /*
 *
 * ==========================================
 * autres
 * ==========================================
 *
 */
 .top-nav-collapse {
     background-color: #7d8488 !important;
 }
 .navbar:not(.top-nav-collapse) {
     background: transparent !important;
 }
 @media (max-width: 768px) {
     .navbar:not(.top-nav-collapse) {
         background: #7d8488 !important;
     }
 }
 .hm-gradient .full-bg-img {
     background-color: #A2A629;
 }
 @media (max-width: 740px) {
     .full-height,
     .full-height body,
     .full-height header,
     .full-height header .view {
         height: 700px;
     }
 }

 /*
 *
 * ==========================================
 * autres2
 * ==========================================
 *
 */

 @import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.team4 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}

.team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
  color: #3e4555;
}

.team4 .font-weight-medium {
	font-weight: 500;
}

.team4 h5 {
    line-height: 22px;
    font-size: 18px;
}

.team4 .subtitle {
    color: #8d97ad;
    line-height: 24px;
		font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
	color: #316ce8;
}


/* social media */

/* Style all font awesome icons */
.fa {
     padding: 20px;
     font-size: 30px;
     width: 50px;
     text-align: center;
     text-decoration: none;
   }
   
   /* Add a hover effect if you want */
   .fa:hover {
     opacity: 0.7;
   }
   
   /* Set a specific color for each brand */
   
   /* Facebook */
   .fa-facebook {
     background: #3B5998;
     color: white;
   }

   .fa-instagram {
     background: #125688;
     color: white;
   }

   .fa-youtube {
     background: #bb0000;
     color: white;
   }


     /*--------------------------------------------------------------
  # test
  --------------------------------------------------------------*/
  .featured-services .icon-box {
     padding: 30px;
     position: relative;
     overflow: hidden;
     background: #fff;
     box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
     transition: all 0.3s ease-in-out;
     border-radius: 8px;
     z-index: 1;
   }
   
   .featured-services .icon-box::before {
     content: '';
     position: absolute;
     background: #A2A629;
     right: 0;
     left: 0;
     bottom: 0;
     top: 100%;
     transition: all 0.3s;
     z-index: -1;
   }
   
   .featured-services .icon-box:hover::before {
     background: #c9;
     top: 0;
     border-radius: 0px;
   }
   
   .featured-services .icon {
     margin-bottom: 15px;
   }
   
   .featured-services .icon i {
     font-size: 48px;
     line-height: 1;
     color: #A2A629;
     transition: all 0.3s ease-in-out;
   }
   
   .featured-services .title {
     font-weight: 700;
     margin-bottom: 15px;
     font-size: 18px;
   }
   
   .featured-services .title a {
     color: #111;
   }
   
   .featured-services .description {
     font-size: 15px;
     line-height: 28px;
     margin-bottom: 0;
   }
   
   .featured-services .icon-box:hover .title a, .featured-services .icon-box:hover .description {
     color: #fff;
   }
   
   .featured-services .icon-box:hover .icon i {
     color: #fff;
   }

    /*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
  .contact .info-box {
     color: #444444;
     text-align: center;
     box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
     padding: 20px 0 30px 0;
   }
   
   .contact .info-box i {
     font-size: 32px;
     color: #A2A629;
     border-radius: 50%;
     padding: 8px;
     border: 2px dotted #b3d1fa;
   }
   
   .contact .info-box h3 {
     font-size: 20px;
     color: #777777;
     font-weight: 700;
     margin: 10px 0;
   }
   
   .contact .info-box p {
     padding: 0;
     line-height: 24px;
     font-size: 14px;
     margin-bottom: 0;
   }
   
   .contact .php-email-form {
     box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
     padding: 30px;
   }
   
   .contact .php-email-form .validate {
     display: none;
     color: red;
     margin: 0 0 15px 0;
     font-weight: 400;
     font-size: 13px;
   }
   
   .contact .php-email-form .error-message {
     display: none;
     color: #fff;
     background: #ed3c0d;
     text-align: left;
     padding: 15px;
     font-weight: 600;
   }
   
   .contact .php-email-form .error-message br + br {
     margin-top: 25px;
   }
   
   .contact .php-email-form .sent-message {
     display: none;
     color: #fff;
     background: #18d26e;
     text-align: center;
     padding: 15px;
     font-weight: 600;
   }
   
   .contact .php-email-form .loading {
     display: none;
     background: #fff;
     text-align: center;
     padding: 15px;
   }
   
   .contact .php-email-form .loading:before {
     content: "";
     display: inline-block;
     border-radius: 50%;
     width: 24px;
     height: 24px;
     margin: 0 10px -6px 0;
     border: 3px solid #18d26e;
     border-top-color: #eee;
     -webkit-animation: animate-loading 1s linear infinite;
     animation: animate-loading 1s linear infinite;
   }
   
   .contact .php-email-form .form-group {
     margin-bottom: 20px;
   }
   
   .contact .php-email-form input, .contact .php-email-form textarea {
     border-radius: 0;
     box-shadow: none;
     font-size: 14px;
   }
   
   .contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
     border-color: #A2A629;
   }
   
   .contact .php-email-form input {
     padding: 10px 15px;
   }
   
   .contact .php-email-form textarea {
     padding: 12px 15px;
   }
   
   .contact .php-email-form button[type="submit"] {
     background: #A2A629;
     border: 0;
     padding: 10px 30px;
     color: #fff;
     transition: 0.4s;
     border-radius: 4px;
   }
   
   .contact .php-email-form button[type="submit"]:hover {
     background: #A2A629;
   }
   
   @-webkit-keyframes animate-loading {
     0% {
       transform: rotate(0deg);
     }
     100% {
       transform: rotate(360deg);
     }
   }
   
   @keyframes animate-loading {
     0% {
       transform: rotate(0deg);
     }
     100% {
       transform: rotate(360deg);
     }
   }
  
     /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  .about .content h3 {
     font-weight: 600;
     font-size: 26px;
   }
   
   .about .content ul {
     list-style: none;
     padding: 0;
   }
   
   .about .content ul li {
     display: flex;
     align-items: flex-start;
     margin-bottom: 35px;
   }
   
   .about .content ul li:first-child {
     margin-top: 35px;
   }
   
   .about .content ul i {
     background: #fff;
     box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
     font-size: 24px;
     padding: 20px;
     margin-right: 15px;
     color: #A2A629;
     border-radius: 50px;
   }
   
   .about .content ul h5 {
     font-size: 18px;
     color: #555555;
   }
   
   .about .content ul p {
     font-size: 15px;
   }
   
   .about .content p:last-child {
     margin-bottom: 0;
   }
  
   
   /*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
     font-family: "Open Sans", sans-serif;
     color: #444444;
   }
   
   a {
     color: #A2A629;
     text-decoration: none;
   }
   
   a:hover {
     color: #A2A629;
     text-decoration: none;
   }
   
   h1, h2, h3, h4, h5, h6 {
     font-family: "Roboto", sans-serif;
   }
   
   @media (prefers-reduced-motion: no-preference) {
     :root {
       scroll-behavior: auto;
     }
   }
  
    /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 9999;
     overflow: hidden;
     background: #fff;
   }
   
   #preloader:before {
     content: "";
     position: fixed;
     top: calc(50% - 30px);
     left: calc(50% - 30px);
     border: 6px solid #A2A629;
     border-top-color: #e2eefd;
     border-radius: 50%;
     width: 60px;
     height: 60px;
     -webkit-animation: animate-preloader 1s linear infinite;
     animation: animate-preloader 1s linear infinite;
   }
   
   @-webkit-keyframes animate-preloader {
     0% {
       transform: rotate(0deg);
     }
     100% {
       transform: rotate(360deg);
     }
   }
   
   @keyframes animate-preloader {
     0% {
       transform: rotate(0deg);
     }
     100% {
       transform: rotate(360deg);
     }
   }

     /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
     position: fixed;
     display: none;
     right: 15px;
     bottom: 15px;
     z-index: 99999;
   }
   
   .back-to-top i {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 24px;
     width: 40px;
     height: 40px;
     border-radius: 4px;
     background: #A2A629;
     color: #fff;
     transition: all 0.4s;
   }
   
   .back-to-top i:hover {
     background: #A2A629;
     color: #fff;
   }

     /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
     padding: 0;
     overflow: hidden;
   }
   
   .section-bg {
     background-color: #f6f9fe;
   }
   
   .section-title {
     text-align: center;
     padding-bottom: 30px;
   }
   
   .section-title h2 {
     font-size: 13px;
     letter-spacing: 1px;
     font-weight: 700;
     padding: 8px 20px;
     margin: 0;
     background: #e7f1fd;
     color: #A2A629;
     display: inline-block;
     text-transform: uppercase;
     border-radius: 50px;
   }
   
   .section-title h3 {
     margin: 15px 0 0 0;
     font-size: 32px;
     font-weight: 700;
   }
   
   .section-title h3 span {
     color: #A2A629;
   }
   
   .section-title p {
     margin: 15px auto 0 auto;
     font-weight: 600;
   }
   
   @media (min-width: 1024px) {
     .section-title p {
       width: 50%;
     }
   }

     /*--------------------------------------------------------------
  # Pricing
  --------------------------------------------------------------*/
  .pricing .box {
     padding: 20px;
     background: #fff;
     text-align: center;
     box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
     border-radius: 5px;
     position: relative;
     overflow: hidden;
   }
   
   .pricing .box h3 {
     font-weight: 400;
     margin: -20px -20px 20px -20px;
     padding: 20px 15px;
     font-size: 16px;
     font-weight: 600;
     color: #777777;
     background: #f8f8f8;
   }
   
   .pricing .box h4 {
     font-size: 36px;
     color: #A2A629;
     font-weight: 600;
     font-family: "Poppins", sans-serif;
     margin-bottom: 20px;
   }
   
   .pricing .box h4 sup {
     font-size: 20px;
     top: -15px;
     left: -3px;
   }
   
   .pricing .box h4 span {
     color: #bababa;
     font-size: 16px;
     font-weight: 300;
   }
   
   .pricing .box ul {
     padding: 0;
     list-style: none;
     color: #444444;
     text-align: center;
     line-height: 20px;
     font-size: 14px;
   }
   
   .pricing .box ul li {
     padding-bottom: 16px;
   }
   
   .pricing .box ul i {
     color: #A2A629;
     font-size: 18px;
     padding-right: 4px;
   }
   
   .pricing .box ul .na {
     color: #ccc;
     text-decoration: line-through;
   }
   
   .pricing .btn-wrap {
     margin: 20px -20px -20px -20px;
     padding: 20px 15px;
     background: #f8f8f8;
     text-align: center;
   }
   
   .pricing .btn-buy {
     background: #A2A629;
     display: inline-block;
     padding: 8px 35px 10px 35px;
     border-radius: 4px;
     color: #fff;
     transition: none;
     font-size: 14px;
     font-weight: 400;
     font-family: "Roboto", sans-serif;
     font-weight: 600;
     transition: 0.3s;
   }
   
   .pricing .btn-buy:hover {
     background: #A2A629;
   }
   
   .pricing .featured h3 {
     color: #fff;
     background: #A2A629;
   }
   
   .pricing .advanced {
     width: 200px;
     position: absolute;
     top: 18px;
     right: -68px;
     transform: rotate(45deg);
     z-index: 1;
     font-size: 14px;
     padding: 1px 0 3px 0;
     background: #A2A629;
     color: #fff;
   }


   .arrondi {
     border-radius: 10px;
   }
   

/*LOGIN*/

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}
