{% extends 'base.html.twig' %}

{% block title %}Réservation d'une visite
{% endblock %}

{% block body %}

	<div>
		<h1>
			Réservation
		</h1>


		{{ form_start(formReservation) }}

		{{ form_widget(formReservation) }}

		<button type="submit" class="btn btn-success">Je réserve</button>

		{{ form_end(formReservation) }}

	</div>

{% endblock %}
