{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la page FAQ d'Agri-visite
{% endblock %}

{% block body %}

	<br>
	<br>
	<br>

	<br>
	<br>
	<br>
	{% for faq in faqs %}
		<div class="card border-bottom mb-3">
			<div class="card-header accordion-header d-flex align-items-center collapsed" id="heading{{ faq.id }}" data-toggle="collapse" data-target="#collapse{{ faq.id }}" aria-expanded="false" aria-controls="collapse{{ faq.id }}" role="region">
				<h6 class="mb-0">{{ faq.question }}</h6>
				<span class="icon"></span>
			</div>
			<div id="collapse{{ faq.id }}" class="collapse" aria-labelledby="heading{{ faq.id }}" data-parent="#accordionExample-001">
				<div class="card-body">
					{{ faq.answer }}
				</div>
			</div>
		</div>
	{% endfor %}

	<br>
	<br>
	<br>

	<br>
	<br>
	<br>
{% endblock %}
