{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}

	<div class="jumbotron">
		<h1 class="display-4">Administration agri-visite</h1>
		<p class="lead">Bienvenue dans l'interface d'administration d'agri-visite</p>
	</div>
{% endblock %}
