<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																																																																																																																														           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		<!DOCTYPE html>
	</body>
</html>
<html lang="fr">

	<head>
		<!-- basic -->
		<meta charset="utf-8">
		<meta
		http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- mobile metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta
		name="viewport" content="initial-scale=1, maximum-scale=1">
		<!-- site metas -->
		<title>Agri-visite</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta
		name="author" content="">
		<!-- bootstrap css -->
		<link
		rel="stylesheet" href="{{asset("css/bootstrap.min.css")}}">
		<!-- style css -->
		<link
		rel="stylesheet" href="{{asset("css/style.css")}}">
		<!-- Responsive-->
		<link
		rel="stylesheet" href="{{asset("css/responsive.css")}}">
		<!-- fevicon -->
		<link
		rel="icon" href="{{asset("images/fevicon.png")}}" type="image/gif"/>
		<!-- Scrollbar Custom CSS -->
		<link
		rel="stylesheet" href="{{asset("css/jquery.mCustomScrollbar.min.css")}}">
		<!-- Tweaks for older IEs-->
		<link rel="stylesheet" href="{{asset("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")}}">
		<link
		rel="stylesheet" href="{{asset("https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css")}}" media="screen">
	<!--[if lt IE 9]>
																																																																																																															      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
																																																																																																															      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
	</head>
	<!-- body -->

	<body
		class="main-layout ">
		<!-- loader  -->
		<div class="loader_bg">
			<div class="loader"><img src="{{asset("images/loading.gif")}}" alt="#"/></div>
		</div>
		<!-- end loader -->
		{% include "shared/_navbar.html.twig" %}
		{% block body %}{% endblock %}
		<!-- footer -->
		<!--  footer -->
		<footr>
			<div class="footer top_layer ">
				<div class="container">

					<div class="row">
						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
							<div class="address">
								<a href="index.html">
									<img src="images/logo.png" alt="logo"/></a>
								<p>Le site de découverte de l'agriculture dans votre régions</p>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
							<div class="address">
								<h3>Les liens du site</h3>
								<ul class="Links_footer">
									<li><img src="icon/3.png" alt="#"/>
										<a href="/">Agri-visite</a>
									</li>
									<li><img src="icon/3.png" alt="#"/>
										<a href="#">Nos agriculteurs partenaires</a>
									</li>
									<li><img src="icon/3.png" alt="#"/>
										<a href="{{ path('about') }}">Nos visites</a>
									</li>
									<li><img src="icon/3.png" alt="#"/>
										<a href="#">F.A.Q</a>
									</li>
									<li><img src="icon/3.png" alt="#"/>
										<a href="#">Contact</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
							<div class="address">
								<h3>Mentions légales</h3>
								<ul class="Links_footer">
									<li><img src="icon/3.png" alt="#"/>
										<a href="/">CGU</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
							<div class="address">
								<h3>Contactez-nous</h3>

								<ul class="loca">
									<li>
										<a href="#"><img src="{{asset("icon/loc.png")}}" alt="#"/></a>Rennes
										<br>bretagne
									</li>
									<li>
										<a href="#"><img src="{{asset("icon/email.png")}}" alt="#"/></a>contact@agri-visite.com
									</li>
									<li>
										<a href="#"><img src="{{asset("icon/call.png")}}" alt="#"/></a>0658829319
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="copyright">
				<div class="container">
					<p>© 2021 All Rights Reserved. Design By Charlie<a href="https://html.design/">
							Copiright Agri-visite</a>
					</p>

				</div>
			</div>
		</footr>

		<script src="{{ asset('js/tarteaucitron/tarteaucitron.js') }}"></script>

		<script type="text/javascript">
			(tarteaucitron.job = tarteaucitron.job || []).push('instagram');
		</script>


		<script type="text/javascript">
			tarteaucitron.init({
"privacyUrl": "{{ path('mention_legale') }}", /* Privacy policy url */

"hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
"cookieName": "tarteaucitron", /* Cookie name */

"orientation": "middle", /* Banner position (top - bottom) */

"groupServices": false, /* Group services by category */

"showAlertSmall": false, /* Show the small banner on bottom right */
"cookieslist": false, /* Show the cookie list */

"closePopup": false, /* Show a close X on the banner */

"showIcon": true,
/* Show cookie icon to manage cookies */
// "iconSrc": "", /* Optionnal: URL or base64 encoded image */
"iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

"adblocker": false, /* Show a Warning if an adblocker is detected */

"DenyAllCta": true, /* Show the deny all button */
"AcceptAllCta": true, /* Show the accept all button when highPrivacy on */
"highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

"handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

"removeCredit": false, /* Remove credit link */
"moreInfoLink": true, /* Show more info link */

"useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
"useExternalJs": false,
/* If false, the tarteaucitron.js file will be loaded */

// "cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

"readmoreLink": "", /* Change the default readmore link */

"mandatory": true, /* Show a message about mandatory cookies */
});
		</script>

		<!-- end footer -->
		<!-- Javascript files-->
		<script src="{{asset("js/jquery.min.js")}}"></script>
		<script src="{{asset("js/popper.min.js")}}"></script>
		<script src="{{asset("js/bootstrap.bundle.min.js")}}"></script>
		<script src="{{asset("js/jquery-3.0.0.min.js")}}"></script>
		<script src="{{asset("js/plugin.js")}}"></script>
		<!-- sidebar -->
		<!-- sidebar -->
		<!-- sidebar -->
		<!-- sidebar --><script src="{{asset("js/jquery.mCustomScrollbar.concat.min.js")}}"> </script>
		<script src="{{asset("js/custom.js")}}"></script>
		<!-- javascript -->
		<script src="{{asset("js/owl.carousel.js")}}"></script>
		<script src="{{asset("https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js")}}"></script>
		<script>
			$(document).ready(function () {
$(".fancybox").fancybox({openEffect: "none", closeEffect: "none"});

$(".zoom").hover(function () {

$(this).addClass('transition');
}, function () {

$(this).removeClass('transition');
});
});
		</script>
		<script>
			// This example adds a marker to indicate the position of Bondi Beach in Sydney,
// Australia.
function initMap() {
var map = new google.maps.Map(document.getElementById('map'), {
zoom: 11,
center: {
lat: 40.645037,
lng: -73.880224
}
});

var image = 'images/maps-and-flags.png';
var beachMarker = new google.maps.Marker({
position: {
lat: 40.645037,
lng: -73.880224
},
map: map,
icon: image
});
}
		</script>
		<!-- google map js -->
		<script src="{{asset("https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap")}}"></script>
		<!-- end google map js -->
	</body>
</html></body></html>
