{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<!DOCTYPE html>
	<html lang="fr">

		<head>
			<!-- basic -->
			<meta charset="utf-8">
			<meta
			http-equiv="X-UA-Compatible" content="IE=edge">
			<!-- mobile metas -->
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta
			name="viewport" content="initial-scale=1, maximum-scale=1">
			<!-- site metas -->
			<title>moon firm</title>
			<meta name="keywords" content="">
			<meta name="description" content="">
			<meta
			name="author" content="">
			<!-- bootstrap css -->
			<link
			rel="stylesheet" href="css/bootstrap.min.css">
			<!-- style css -->
			<link
			rel="stylesheet" href="css/style.css">
			<!-- Responsive-->
			<link
			rel="stylesheet" href="css/responsive.css">
			<!-- fevicon -->
			<link
			rel="icon" href="images/fevicon.png" type="image/gif"/>
			<!-- Scrollbar Custom CSS -->
			<link
			rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
			<!-- Tweaks for older IEs-->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<link
			rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
		<!--[if lt IE 9]>
																																																																																																		      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
																																																																																																		      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
		</head>

		<section class="slider_section">
			<div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
				<ul class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class=""></li>
					<li data-target="#myCarousel" data-slide-to="1" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="2" class=""></li>
				</ul>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="first-slide" src="images/banner.jpg" alt="First slide">
						<div class="container">
							<div class="carousel-caption relative">
								<h1>Agri-visite</h1>
								<span>Venez à la rencontre des Agriculteurs Normands
								</span>

								<p class="carrou">Bienvenue sur Agri-visite, nous sommes heureux de vous savoir parmis nous. Sur ce site vous avez la possibilité de visiter des exploitations agricoles en Normandie et de découvrir le monde de l'agriculture de très près</p>
								<a class="buynow" href="#about">Réserver ma visite</a>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<img class="second-slide" src="images/banner2.jpg" alt="Second slide">
						<div class="container">
							<div class="carousel-caption relative">
								<h1 class="text-body">Agri-visite</h1>
								<span>Venez à la rencontre des Agriculteurs Normands
								</span>

								<p class="carrou text-body">Bienvenue sur Agri-visite, nous sommes heureux de vous savoir parmis nous. Sur ce site vous avez la possibilité de visiter des exploitations agricoles en Normandie et de découvrir le monde de l'agriculture de très près</p>
								<a class="buynow" href="#about">Réserver ma visite</a>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<img class="third-slide" src="images/banner3.jpg" alt="Third slide">
						<div class="container">
							<div class="carousel-caption relative">
								<h1 class="text-body">Agri-visite</h1>
								<span>Venez à la rencontre des Agriculteurs Normands
								</span>

								<p class="carrou">Bienvenue sur Agri-visite, nous sommes heureux de vous savoir parmis nous. Sur ce site vous avez la possibilité de visiter des exploitations agricoles en Normandie et de découvrir le monde de l'agriculture de très près</p>
								<a class="buynow" href="#about">Réserver ma visite</a>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
					<i class='fa fa-angle-left'></i>
				</a>
				<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
					<i class='fa fa-angle-right'></i>
				</a>
			</div>
		</section>

		<!-- about -->
		<div id="about" class="about">
			<div class="container">
				<div class="row">

					<div class="col-xl-5 col-lg-5 col-md-5 co-sm-l2">
						<div class="about_box">
							<h2>Agri-visite c'est quoi ?<br><strong class="black">
									A la découverte de l'agriculture</strong>
							</h2>
							<p>Agri-visite est le site de la  découverte de l'agriculture et des activités liées au milieu de la nature et des animaux. Sur  agri-visite  vous permettra d'avoir un échange avec les agriculteurs de votre régions, grace à notre page FAQ et des liens vers leurs réseaux sociaux, il vous permettra aussi de visité des exploitations agricoles et de rencontrer les agriculteurs.</p>
							<a href="{{ path('about') }}">En savoir plus</a>
						</div>
					</div>
					<div class="col-xl-7 col-lg-7 col-md-7 co-sm-l2">
						<div class="about_img">
							<figure><img src="images/illu.png" alt="img"/></figure>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end about -->
		<!-- for_box -->
		<div class="for_box_bg">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
						<div class="for_box">
							<i><img src="images/1.png" alt="#"/></i>
							<span>10</span>
							<h3>exploitations</h3>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
						<div class="for_box">
							<i><img src="images/2.png" alt="#"/></i>
							<span>200</span>
							<h3>Visites faites</h3>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
						<div class="for_box">
							<i><img src="images/3.png" alt="#"/></i>
							<span>20</span>
							<h3>Agriculteurs</h3>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
						<div class="for_box">
							<i><img src="images/4.png" alt="#"/></i>
							<span>1623</span>
							<h3>Utilisateurs conquis</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end for_box -->
		<!-- offer -->
		<div class="offer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>Agri-visite,
								<strong class="black">les activités proposées</strong>
							</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="offer-bg">
				<div class="container">
					<div class="row">
						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
							<div class="offer_box">
								<h3 class="text-body">Visites des fermes</h3>
								<br>
								<figure><img class="arrondi" src="images/offer1.jpg" alt="img"/></figure>
								<p class="text-body">Vous avez la possibilité de visité les ferme de votre régions, tout en ayant un échange avec l'agriculteur qui vous fait découvrir son métier</p><br>
							</div>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
							<div class="offer_box">
								<h3 class="text-body">Nourrir les Animaux et tour en tracteur</h3>
								<figure><img class="arrondi" src="images/offer2.jpg" alt="img"/></figure>
								<p class="text-body">Découvrir pleinement le métier d'agriculteur par le biais d'activités immersive dans le métier d'agriculteur</p><br>
							</div>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
							<div class="offer_box">
								<h3 class="text-body">Dégustation</h3>
								<br>
								<figure><img class="arrondi" src="images/offer3.jpg" alt="img"/></figure>
								<p class="text-body">La majorité de nos agriculteurs partenaires produisent eux même leurs produits, ces visites sont le moyen de découvrir leur produits et d'en acheter si vous le voulez par la même occasion</p><br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- end offer -->

		<!-- product -->
		<div id="product" class="product">
			<div class="container">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="title">
								<h2>Nos exploitations
									<strong class="black">
										agri-visite</strong>
								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>

			<section id="gallery">
				<div class="container">
					<div class="row">
						{% for p in visites %}
							<div class="col-lg-4 mb-4">
								<div class="card">
									<img src="./images/vache.jpeg" alt="" class="card-img-top">
									<div class="card-body">
										<h5 class="card-title">{{ p.name }}</h5>
										<span class="badge badge-info">
											{{ p.category.name }}
										</span>
										<p class="card-text">{{ p.shortDescription }}
										</p><br>
										<a href="{{path('visite_show', {'category_slug': p.category.slug, 'slug': p.slug})}}" class="btn btn-outline-success btn-sm">Je veux en savoir plus</a>
									</div>
								</div>
							</div>

						{% endfor %}
						<div class=" mx-auto">
							<a href="{{ path('admin') }}">
								<button type="button" class="btn btn-success btn-lg">Voir les autres visites disponibles</button>
							</a>
						</div>
					</div>
				</div>
			</section>

			<br>
			<br>
			<br>

			<!-- end product -->
			<!-- clients -->
				<div id="testimonial" class="clients"> <div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="title">
								<h2>Les avis des personnes qui ont essayé</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clients_red">
				<div class="container">
					<div
						id="testimonial_slider" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ul class="carousel-indicators">
							<li data-target="#testimonial_slider" data-slide-to="0" class=""></li>
							<li data-target="#testimonial_slider" data-slide-to="1" class="active"></li>
							<li data-target="#testimonial_slider" data-slide-to="2" class=""></li>
						</ul>
						<!-- The slideshow -->
						<div class="carousel-inner">
							<div class="carousel-item">
								<div class="testomonial_section">

									<div class="full testimonial_cont text_align_center cross_layout">
										<div class="row">
											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pa_right">
												<div class="testomonial_img">
													<i><img src="images/tes.jpg" alt="#"/></i>
												</div>
											</div>
											<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pa_left">
												<div class="cross_inner">
													<h3>Jérome<br><strong class="ornage_color">Legrand</strong>
													</h3>
													<p><img src="icon/1.png" alt="#"/>Super expérience, nous avons passer un super moment et avons découvert le monde de l'agriculture. Je recommande !
														<img src="icon/2.png" alt="#"/>
													</p>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="carousel-item active">

								<div class="testomonial_section">
									<div class="full center"></div>
									<div class="full testimonial_cont text_align_center cross_layout">
										<div class="row">
											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pa_right">
												<div class="testomonial_img">
													<i><img src="images/tes.jpg" alt="#"/></i>
												</div>
											</div>
											<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pa_left">
												<div class="cross_inner">
													<h3>Johndue<br><strong class="ornage_color">Farm & CO</strong>
													</h3>
													<p><img src="icon/1.png" alt="#"/>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
														<img src="icon/2.png" alt="#"/>
													</p>

												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

							<div class="carousel-item">

								<div class="testomonial_section">
									<div class="full center"></div>
									<div class="full testimonial_cont text_align_center cross_layout">
										<div class="row">
											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pa_right">
												<div class="testomonial_img">
													<i><img src="images/tes.jpg" alt="#"/></i>
												</div>
											</div>
											<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pa_left">
												<div class="cross_inner">
													<h3>Johndue<br><strong class="ornage_color">Farm & CO</strong>
													</h3>
													<p><img src="icon/1.png" alt="#"/>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
														<img src="icon/2.png" alt="#"/>
													</p>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>

			<br>
			<br>

		<!-- end clients -->


			<!-- end contact -->

		{% endblock %}
