<header>
	<!-- header inner -->
	<div class="header">

		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col logo_section">
					<div class="full">
						<div class="center-desk">
							<div class="logo">
								<a href="/"><img src="{{asset("images/LOGO2.png")}}" alt="#"></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
					<div class="location_icon_bottum_tt">
						<ul>
							<li><img src="{{ asset("icon/loc1.png")}}"/>Normandie</li>
							<li><img src="{{ asset("icon/email1.png")}}"/>contact@agri-visite.com</li>
							<li><img src="{{ asset("icon/call1.png")}}"/>0658829319</li>


						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 location_icon_bottum">
					<div class="row">
						<div class="col-md-12 ">
							<div class="menu-area">
								<div class="limit-box">
									<nav class="main-menu">
										<ul class="menu-area-main">
											<li class="active">
												<a href="/">Accueil</a>
											</li>
											<li>
												<a href="{{ path('about') }}">Agri-visite</a>
											</li>

											<li>
												{% for c in categoryRepository.findAll() %}
													<li>
														<a class="" href="#">{{ c.name }}</a>
													</li>
												{% endfor %}
											</li>

											<li>
												<a href="{{ path('faq_index') }}">FAQ</a>
											</li>
											<li>
												<a href="{{ path('contact_index') }}">Contact</a>
											</li>

											{% if app.user %}
												{% if 'ROLE_ADMIN' in app.user.roles %}

													<li class="nav-item">
														<a href="{{ path('admin') }}" class="">Administration</a>
													</li>
												{% endif %}
											{% endif %}

											{% if app.user %}
												<li class="nav-item">
													<a href="{{ path('security_logout') }}" class="btn btn-danger">Déconnexion</a>
												</li>
											{% else %}
												<li class="nav-item">
													<a href="{{ path('security_inscription') }}" class="nav-link">Inscription</a>
												</li>
												<li class="nav-item">
													<a href="{{ path('security_login') }}" class="btn btn-success">Connexion</a>
												</li>
											{% endif %}


										</ul>

									</nav>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header inner -->
</header>
