{% extends "base.html.twig" %}

{% block title %}
	Catégorie :
	{{category.name}}
{% endblock %}

{% block body %}

	<br>

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href=" {{path('homepage')}} ">Accueil</a>
		</li>
	</li>
	<li class="breadcrumb-item active">
		{{category.name}}
	</li>
</ol>

<section id="gallery">
	<div class="container">
		<div class="row">
			{% for p in category.visites %}
				<div class="col-lg-4 mb-4">
					<div class="card">
						<img src="./images/vache.jpeg" alt="" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">{{ p.name }}</h5>
							<span class="badge badge-info">
								{{ p.category.name }}
							</span>
							<p class="card-text">{{ p.shortDescription }}
							</p><br>
							<a href=" {{path('visite_show', {'category_slug': p.category.slug, 'slug': p.slug})}} " class="btn btn-outline-success btn-sm">Je veux en savoir plus</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>{% endblock %}
