{% extends "base.html.twig" %}

{# {% form_theme formView 'bootstrap_4_layout.html.twig' %} #}

{% block title %}
	création d'une visite
{% endblock %}

{% block body %}
	<!-- ======= Contact Section ======= -->
	<section id="contact" class="contact">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>Contact</h2>
				<h3>
					<span>Contactez Grégoire</span>
				</h3>
				<p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
			</div>

			<div class="row" data-aos="fade-up" data-aos-delay="100">
				<div class="col-lg-6">
					<div class="info-box mb-4">
						<i class="bx bx-map"></i>
						<h3>Adresse de l'exploitation</h3>
						<p>A108 Adam Street, New York, NY 535022</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="info-box  mb-4">
						<i class="bx bx-envelope"></i>
						<h3>Envoyer un mail à Gregoire</h3>
						<p>contact@example.com</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="info-box  mb-4">
						<i class="bx bx-phone-call"></i>
						<h3>Appeler Gregoire</h3>
						<p>06 00 00 00 00</p>
					</div>
				</div>

			</div>

			<div class="row" data-aos="fade-up" data-aos-delay="100">

				<div class=" ">
					<iframe width="538" height="535" id="gmap_canvas" src="https://maps.google.com/maps?q=Montisenger&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
				</div>

				{{ form_start(formView) }}

				{{ form_errors(formView) }}

				<div class="">

					{{ form_row(formView.name) }}

					{{ form_row(formView.mainPicture) }}
					{{ form_row(formView.shortDescription) }}
					{{ form_row(formView.price) }}
					{{ form_row(formView.category) }}

					<button type="submit" class="btn btn-primary">
						<i>fas fa-save</i>
						Créer la visite
					</button>

					{{ form_end(formView) }}
				</div>

			</div>

		</div>
	</section>
	<!-- End Contact Section -->

{% endblock %}
