{% extends "base.html.twig" %}

{% block title %}
	Edition de
	{{ visite.name }}
{% endblock %}


{% block body %}

	<h1>Editer la visite
		{{ visite.name }}</h1>


	{{ form_start(formView) }}

	{{ form_errors(formView) }}

	<div class="">
		<form action="forms/contact.php" method="post" role="form" class="php-email-form">

			{{ form_row(formView.name) }}

			{{ form_row(formView.mainPicture) }}
			{{ form_row(formView.shortDescription) }}
			{{ form_row(formView.price) }}
			{{ form_row(formView.category) }}

			<button type="submit" class="btn btn-primary">
				<i>fas fa-save</i>
				Créer la visite
			</button>

			{{ form_end(formView) }}

		{% endblock %}
