{% extends "base.html.twig" %}

{% block stylesheets %}{% endblock %}

{% block title %}
	{{visite.name}}
{% endblock %}


{% block body %}


	<!-- Bootstrap Static Header -->

	<section class="slider_section">
		<div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
			<ul class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class=""></li>
				<li data-target="#myCarousel" data-slide-to="1" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="2" class=""></li>
			</ul>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="first-slide" src="{{asset("images/banner-visite.jpg")}}" alt="First slide">
					<div class="container">
						<div class="carousel-caption relative">
							<h2 class="text-body">{{ visite.name }}</h2>
							<span>Bienvenue à la ferme de
								{{ visite.name }}, à Montisenger</span>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<img class="second-slide" src="{{asset("images/banner-visite.jpg")}}" alt="Second slide">
					<div class="container">
						<div class="carousel-caption relative">
							<h2 class="text-body">{{ visite.name }}</h2>
							<span>Bienvenue à la ferme de
								{{ visite.name }}, à Montisenger</span>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<img class="third-slide" src="{{asset("images/banner-visite.jpg")}}" alt="Third slide">
					<div class="container">
						<div class="carousel-caption relative">
							<h2 class="text-body">
								{{ visite.name }}
							</h2>
							<span>Bienvenue à la ferme de
								{{ visite.name }}, à Montisenger</span>
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
				<i class='fa fa-angle-left'></i>
			</a>
			<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
				<i class='fa fa-angle-right'></i>
			</a>
		</div>

		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href=" {{path('homepage')}} ">Accueil</a>
			</li>
			<li class="breadcrumb-item">
				<a href=" {{path('visite_category', {'slug': visite.category.slug})}} ">
					{{visite.category.name}}
				</a>
			</li>
			<li class="breadcrumb-item active">
				{{visite.name}}
			</li>
		</ol>
		<br>
		<br>

		<main id="main"></section>


		<!-- ======= Featured Services Section ======= -->
		<section id="featured-services" class="featured-services">
			<div class="container" data-aos="fade-up">

				<div class="row">
					<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
						<div class="icon-box" data-aos="fade-up" data-aos-delay="100">
							<div class="icon">
								<i class="bx bxl-dribbble"></i>
							</div>
							<h4 class="title">
								<a href="">Visite de la ferme</a>
							</h4>
							<p class="description">Gregoire vous fait visiter la ferme et vous explique comment elle fonctionne</p>
						</div>
					</div>

					<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
						<div class="icon-box" data-aos="fade-up" data-aos-delay="200">
							<div class="icon">
								<i class="bx bx-file"></i>
							</div>
							<h4 class="title">
								<a href="">Traite des vaches</a>
							</h4>
							<p class="description">Vous avez la possibilité de participer à la traite des vaches avec Grégoire</p>
						</div>
					</div>

					<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
						<div class="icon-box" data-aos="fade-up" data-aos-delay="300">
							<div class="icon">
								<i class="bx bx-tachometer"></i>
							</div>
							<h4 class="title">
								<a href="">Tour en tracteur</a>
							</h4>
							<p class="description">Vous avez la possibilité de faire un tour de tracteur dans les champs avec grégoire</p>
						</div>
					</div>

					<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
						<div class="icon-box" data-aos="fade-up" data-aos-delay="400">
							<div class="icon">
								<i class="bx bx-world"></i>
							</div>
							<h4 class="title">
								<a href="">Dégustation des produits de l'agriculteur</a>
							</h4>
							<p class="description">Grégoire vous proposera de gouter les produits fait dans la ferme</p>
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- End Featured Services Section -->

		<br>
		<br>

		<!-- ======= About Section ======= -->
		<section id="about" class="about section-bg">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>Ferme de
						{{ visite.name }}</h2>
					<h3>Petite description
						<span>de la ferme
							{{ visite.name }}</span>
					</h3>
					<p>Une petite ferme situé près de Vire dans le calvados, à Montisenger. Vous vous y sentirai bien, parfait pour passer un bon moment en famille ou entre amis</p>
				</div>

				<div class="row">
					<div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
						<img src="{{asset("images/Agriculteur.jpg")}}" class="img-fluid" alt="">
					</div>
					<div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
						<h3>Grégoire vous fait découvrir son métier dans sa ferme.</h3>
						<p class="font-italic">
							Le meilleur moyen de découvrir le métier d'agriculteur est ici. Vous allez pouvoir échanger durant quelques heures avec grégoire qui vous expliquera l'agriculture et vous montrera les divers activités qu'il pratique durant l'année.
						</p>
						<ul>
							<li>
								<i class="bx bx-store-alt"></i>
								<div>
									<h5>Une ferme avec différents élevages d'animaux</h5>
									<p>Grégoire à différents type d'animaux au sein de sont exploitations agricole, ils vous montrera comment il s'occupe d'eux et comment tout cela fonctionne</p>
								</div>
							</li>
							<li>
								<i class="bx bx-images"></i>
								<div>
									<h5>Une ferme au différentes récoltes</h5>
									<p>Grégoire récolte différentes plantation (blés, maïs, ect), il vous parlera des récolte et des différentes étapes de récoltes au cours de l'année</p>
								</div>
							</li>
						</ul>
						<p>
							Un échange privilégié entre vous et l'agriculteur
						</p>
					</div>
				</div>

			</div>
		</section>
		<!-- End About Section -->

		<br>
		<br>

		<div class="how-section1">
			<div class="row">
				<div class="col-md-6 how-img">
					<img src="./images/LOGO-MINI-01.png" class="rounded-circle img-fluid" alt=""/>
				</div>
				<div class="col-md-6">
					<h4>L'agriculteur</h4>
					<h4 class="subheading">Grégoire, 25 ans, Agriculteur depuis 10 ans et patron de son exploitation</h4>
					<p class="text-muted">En se dirigeant sur la page "Nos exploitations partenaires, il vous suffit juste de parcourir la page et de choisir l'exploitation que vous aimeriez le plus visité</p>
				</div>
			</div>
		</div>

		<!-- ======= Pricing Section ======= -->
		<section id="pricing" class="pricing">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>Les prix des visite dans la ferme de Gregoire</h2>
					<h3>Différents<span>tarifs</span>
					</h3>
					<p>Les tarifs varient en fonction de la période de l'année et de l'âge</p>
				</div>

				<div class="row justify-content-center">

					<div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
						<div class="box">
							<h3>2 heures</h3>
							<h4>
								<sup>€</sup>
								{{ visite.price }}<span>
									/ visite</span>
							</h4>
							<ul>
								<li>Visite</li>
								<li>Explication</li>
								<li>Visite vache</li>
								<li class="na">Tour en tracteur</li>
								<li class="na">Gouter produit fait par Grégoire</li>
							</ul>
							<div class="btn-wrap">
								{% if app.user %}
									<a href="{{ path('reservation', {id:visite.id})}}" class="btn">réserver ma place</a>
								{% endif %}
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="300">
						<div class="box featured">
							<h3>3 heures</h3>
							<h4>
								<sup>€</sup>19<span>
									/ visite</span>
							</h4>
							<ul>
								<li>Visite</li>
								<li>Explication</li>
								<li>Visite vache</li>
								<li>Tour en tracteur</li>
								<li class="na">Gouter produit fait par Grégoire</li>
							</ul>
							<div class="btn-wrap">
								{% if app.user %}
									<a href="{{ path('reservation', {id:visite.id})}}" class="btn">réserver ma place</a>
								{% endif %}
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
						<div class="box">
							<h3>1 demi-journée</h3>
							<h4>
								<sup>€</sup>29<span>
									/ visite</span>
							</h4>
							<ul>
								<li>Visite</li>
								<li>Explication</li>
								<li>Visite vache</li>
								<li>Tour en tracteur</li>
								<li>Gouter produit fait par Grégoire</li>
							</ul>
							<div class="btn-wrap">
								{% if app.user %}
									<a href="{{ path('reservation', {id:visite.id})}}" class="btn">réserver ma place</a>
								{% endif %}
							</div>
						</div>
					</div>

				</div>

			</div>
		</section>
		<br>
		<br>
		<!-- End Pricing Section -->

		{% if app.user %}
			<li class="nav-item">
				<a href="{{ path('reservation', {id:visite.id})}}" class="btn">réserver ma place</a>
			</li>
		{% else %}
			<section id="about" class="about section-bg">
				<div class="container" data-aos="fade-up">
					<div class="section-title">
						<h2>Connéctez vous ou inscrivez vous pour réserver une visite</h2>
					</div>


					<div class="text-center">
						<li class="nav-item">
							<a href="{{ path('security_inscription') }}" class="nav-link">Inscription</a>
						</li>
						<li class="nav-item">
							<a href="{{ path('security_login') }}" class="btn btn-success">Connexion</a>
						</li>
					</div>
				</div>
			</section>
		{% endif %}


		<!-- ======= Contact Section ======= -->


		<section id="contact" class="contact">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>Contact</h2>
					<h3>
						<span>Contactez Grégoire</span>
					</h3>
					<p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
				</div>

				<div class="row" data-aos="fade-up" data-aos-delay="100">
					<div class="col-lg-6">
						<div class="info-box mb-4">
							<i class="bx bx-map"></i>
							<h3>Adresse de l'exploitation</h3>
							<p>Montisenger, 14500, France</p>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="info-box  mb-4">
							<i class="bx bx-envelope"></i>
							<h3>Envoyer un mail à Gregoire</h3>
							<p>contact@example.com</p>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="info-box  mb-4">
							<i class="bx bx-phone-call"></i>
							<h3>Appeler Gregoire</h3>
							<p>06 00 00 00 00</p>
						</div>
					</div>

				</div>

				<div class="row" data-aos="fade-up" data-aos-delay="100">

					<div class="col-lg-6 ">
						<iframe width="538" height="535" id="gmap_canvas" src="https://maps.google.com/maps?q=Montisenger&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
					</div>

					<div class="col-lg-6">
						<form action="forms/contact.php" method="post" role="form" class="php-email-form">
							<div class="row">
								<div class="col form-group">
									<input type="text" name="name" class="form-control" id="name" placeholder="Votre nom" data-rule="minlen:4" data-msg="Minimum 4 caractères"/>
									<div class="validate"></div>
								</div>
								<div class="col form-group">
									<input type="email" class="form-control" name="email" id="email" placeholder="Votre Email" data-rule="email" data-msg="Entrez un email valide"/>
									<div class="validate"></div>
								</div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" name="subject" id="subject" placeholder="Objet" data-rule="minlen:4" data-msg="Entrez l'objet de votre mail"/>
								<div class="validate"></div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" name="subject" id="subject" placeholder="Choix de votre forfait visite" data-rule="minlen:4" data-msg="votre forfait"/>
								<div class="validate"></div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" name="subject" id="subject" placeholder="Nombre de personnes" data-rule="minlen:4" data-msg="Saisissez un chiffre"/>
								<div class="validate"></div>
							</div>
							<div class="form-group">
								<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Ecrire votre message" placeholder="Message"></textarea>
								<div class="validate"></div>
							</div>
							<div class="mb-3">
								<div class="loading">Envoie</div>
								<div class="error-message"></div>
								<div class="sent-message">Votre message a été envoyé, merci !</div>
							</div>
							<div class="text-center">
								<button type="submit">Envoyer le message</button>
							</div>

							{% if app.user %}
								<a href="{{ path('reservation', {id:visite.id})}}" class="btn">réserver ma place</a>
							{% endif %}
						</form>
					</div>

				</div>

			</div>
		</section>
		<!-- End Contact Section -->


	{% endblock %}
