{% extends 'admin.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h1>Contact index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Sujet</th>
                <th>Email</th>
                <th>Est traité</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr class="{{ contact.isHandled ? '' : 'bg-warning' }}">
                <td>{{ contact.id }}</td>
                <td>{{ contact.subject }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.isHandled ? 'Oui' : 'Non' }}</td>
                <td>{{ contact.dateCreated ? contact.dateCreated|date('d/m/Y H:i') : '' }}</td>
                <td>
                    <a href="{{ path('admin_contact_show', {'id': contact.id}) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
