{% extends 'admin.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ contact.subject }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ contact.content }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ contact.dateCreated ? contact.dateCreated|date('d/m/Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>est traité ?</th>
                <td>{{ contact.isHandled ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_contact_index') }}">Retour à la liste</a>
    {% if not contact.isHandled %}
        <a href="{{ path('admin_contact_traitement', {'id': contact.id}) }}" class="btn btn-primary ">Marquer comme traité</a>
    {% endif %}

{% endblock %}
